<div>
  <uasdm-header></uasdm-header>

  <div id="app-container" class="container">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong>Error</strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <div class="modal-title-container">
      <h3>{{metadata.title}}</h3>
    </div>

    <form #ngForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="classification.name" name="label" type="input" class="form-control" placeholder="Name"
          [disabled]="mode === 'READ'" required />
      </div>
      <div *ngFor="let column of metadata.columns" class="form-group">
        <label></label>
        <boolean-field *ngIf="column.type === 'boolean'" [value]="classification[column.name]" [label]="column.label"
          (valueChange)="classification[column.name] = $event" [disabled]="mode === 'READ'">
        </boolean-field>
      </div>
      <div *ngIf="mode === 'WRITE'" class="btn-holder" style="text-align: right;">
        <button *ngIf="!newInstance" type="button" class="btn btn-default" (click)="handleOnCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()"
          [disabled]="!ngForm.valid">Apply</button>
      </div>
      <div *ngIf="mode === 'READ'" class="btn-holder" style="text-align: right;">
        <button type="submit" class="btn btn-primary" (click)="handleOnEdit()">Edit</button>
      </div>
    </form>
  </div>
</div>