<!--



-->
<context-menu #nodeMenu menuClass="top-level" style="z-index: 100000;">
  <ng-template contextMenuItem let-item (execute)="onSelect($event.value)">
    Select
  </ng-template>
</context-menu>

<div>
  <!-- <h3>Organization Hierarchy</h3> -->
  <div class="modal-body" tabindex="-1" role="dialog">
    <div *ngIf="message != null" class="alert alert-danger" role="alert">{{message}}</div>
    <div class="form-group">

      <div class="row" style="margin-right: 10px;">
        <div class="col-md-12">
          <div class="tree">

            <tree-root *ngIf="nodes.length > 0" #tree [options]="options" [nodes]="nodes">
            </tree-root>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="onClose()" class="btn btn-primary" role="button" aria-disabled="false"
          style="padding: 4px 18px;">
          <span class="ui-button-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>