<div>
  <div class="modal-body" style="margin-top: 30px; margin-bottom: 30px;">
    <h1 *ngIf="messageTitle" style="margin-top: 20px;margin-bottom: 10px;">{{messageTitle}}</h1>
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <div class="btn-holder" style="text-align: right;">
      <button type="button" (click)="confirm()" [ngClass]="type === 'DANGER' ? 'btn-danger' : 'btn-primary'" class="btn" role="button" aria-disabled="false" style="padding: 4px 18px;">
        <span class="ui-button-text">{{submitText}}</span>
      </button>
    </div>
  </div>
</div>