<!--



-->
<div>
    <uasdm-header></uasdm-header>

    <div id="app-container" class="container">
    
        <h2 class="settings-header">Equipment Management</h2>
        
        <h3 class="settings-subheader">Sensor Options</h3>
        <section style="padding:20px;border:solid 1px lightgrey;background:#efefef;">
            
            <a (click)="isSensorTypeCollapsed = !isSensorTypeCollapsed">
                <h4><i class="fa fa-fw collapsible-link" [ngClass]="{'fa-chevron-down': !isSensorTypeCollapsed, 'fa-chevron-right': isSensorTypeCollapsed}"></i>Sensor Types</h4>
            </a>
            <div id="sensorTypeCollabseContainer" [collapse]="isSensorTypeCollapsed">
                <classifications [metadata]='{title: "", label: "type", route: "/sensor-type", baseUrl: "/api/sensor-type"}' ></classifications>
            </div>
            
            <a (click)="isSensorWavelengthCollapsed = !isSensorWavelengthCollapsed">
                <h4><i class="fa fa-fw collapsible-link" [ngClass]="{'fa-chevron-down': !isSensorWavelengthCollapsed, 'fa-chevron-right': isSensorWavelengthCollapsed}"></i>Wave Lengths</h4>
            </a>
            <div id="sensorWavelengthCollabseContainer" [collapse]="isSensorWavelengthCollapsed">
                <classifications [metadata]='{title: "", label: "wave length", route: "/wave-length",  baseUrl: "/api/wave-length"}'></classifications>
            </div>
            
        </section>

        <sensors></sensors>
        
        <br><br>
        
        <h3 class="settings-subheader">Plaform Options</h3>
        <section style="padding:20px;border:solid 1px lightgrey;background:#efefef;">
        
            <a (click)="isPlatformTypeCollapsed = !isPlatformTypeCollapsed">
                <h4><i class="fa fa-fw collapsible-link" [ngClass]="{'fa-chevron-down': !isPlatformTypeCollapsed, 'fa-chevron-right': isPlatformTypeCollapsed}"></i>Platform Types</h4>
            </a>
            <div id="platformTypeCollabseContainer" [collapse]="isPlatformTypeCollapsed">
                <classifications [metadata]='{title: "Platform Type", label: "type", route: "/platform-type",  baseUrl: "/api/platform-type"}'></classifications>
            </div>
            
            <a (click)="isPlatformManufacturerCollapsed = !isPlatformManufacturerCollapsed">
                 <h4><i class="fa fa-fw collapsible-link" [ngClass]="{'fa-chevron-down': !isPlatformManufacturerCollapsed, 'fa-chevron-right': isPlatformManufacturerCollapsed}"></i>Platform Manufacturer</h4>
            </a>
            <div id="platformManufacturerCollabseContainer" [collapse]="isPlatformManufacturerCollapsed">
                <classifications [metadata]='{title: "Platform Manufacturer", label: "manufacturer", route: "/platform-manufacturer",  baseUrl: "/api/platform-manufacturer"}'></classifications>
            </div>
            
        </section>
        
        <platforms></platforms>
        
        <br><br>
        
    </div>
</div>