<div>
  <uasdm-header></uasdm-header>

  <div id="app-container" class="container">

    <div *ngIf="uav != null" class="modal-body">
      <div *ngIf="message != null" class="error-container">
        <div class="label-holder">
          <strong>Error</strong>
        </div>
        <div class="holder">
          <div>
            <p class="error-message">{{message}}</p>
          </div>
        </div>
      </div>

      <div class="modal-title-container">
        <h3>UAV</h3>
      </div>

      <form #ngForm="ngForm">
        <div class="form-group">
          <label>Platform</label>
          <select [(ngModel)]="uav.platform" [disabled]="mode === 'READ'" name="platform" type="input"
            class="form-control" required>
            <option></option>
            <option *ngFor="let platform of platforms" [value]="platform.oid">{{platform.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Serial Number</label>
          <input [(ngModel)]="uav.serialNumber" name="serialNumber" type="input" class="form-control"
            placeholder="Serial Number" [disabled]="mode === 'READ'" required />
        </div>
        <div class="form-group">
          <label>FAA Number</label>
          <input [(ngModel)]="uav.faaNumber" name="faaNumber" type="input" class="form-control" placeholder="FAA Number"
            [disabled]="mode === 'READ'" required />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="uav.description" [disabled]="mode === 'READ'" name="description" type="input"
            class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Bureau</label>
          <select [(ngModel)]="uav.bureau" [disabled]="mode === 'READ'" name="bureau" type="input" class="form-control"
            required>
            <option></option>
            <option *ngFor="let bureau of bureaus" [value]="bureau.value">
              {{bureau.label}}
            </option>
          </select>
        </div>
        <div *ngIf="mode === 'WRITE'" class="btn-holder" style="text-align: right;">
          <button *ngIf="!newInstance" type="button" class="btn btn-default" (click)="handleOnCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()"
            [disabled]="!ngForm.valid">Apply</button>
        </div>
        <div *ngIf="mode === 'READ'" class="btn-holder" style="text-align: right;">
          <button type="submit" class="btn btn-primary" (click)="handleOnEdit()">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>