<div>
  <div class="modal-body" style="margin-top: 30px; margin-bottom: 30px;">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <div class="btn-holder" style="text-align: right;">
      <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" role="button" aria-disabled="false" style="padding: 4px 18px;">{{cancelText}}</button>
      <button type="button" (click)="confirm()" [ngClass]="type === 'DANGER' ? 'btn-danger' : 'btn-primary'" class="btn" role="button" aria-disabled="false" style="padding: 4px 18px;">{{submitText}}</button>
    </div>
  </div>
</div>
