<!--



-->
<ng-container>
    <div *ngIf="page.selection.pointOfContact != null" class="row" style="margin-top: 20px;">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Point Of Contact</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="pointOfContact.name">Name</label>
                        <input type="text" name="pointOfContact.name" [(ngModel)]="page.selection.pointOfContact.name"
                            [maxlength]="100" [required]="false" [disabled]="false"
                            (change)="this.handlePageChange()" />
                    </div>
                    <div class="form-group">
                        <label for="pointOfContact.email">Email</label>
                        <input type="text" name="pointOfContact.email" [(ngModel)]="page.selection.pointOfContact.email"
                            [maxlength]="255" [required]="false" [disabled]="false"
                            (change)="this.handlePageChange()" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Collection</div>
                <div class="panel-body">
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <boolean-field [(value)]="page.selection.exifIncluded" label="EXIF Included">
                            </boolean-field>
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">North Bound:</label>
                            <input [(ngModel)]="page.selection.northBound" name="northBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">South Bound:</label>
                            <input [(ngModel)]="page.selection.southBound" name="northBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">East Bound:</label>
                            <input [(ngModel)]="page.selection.eastBound" name="eastBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">West Bound:</label>
                            <input [(ngModel)]="page.selection.westBound" name="westBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Acquisition Date Start:</label>
                            <input [(ngModel)]="page.selection.acquisitionDateStart" name="acquisitionDateStart"
                                type="date" class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Acquisition Date End:</label>
                            <input [(ngModel)]="page.selection.acquisitionDateEnd" name="acquisitionDateEnd" type="date"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Flying Height (ft):</label>
                            <input [(ngModel)]="page.selection.flyingHeight" name="flyingHeight" type="number"
                                class="form-control" step="1" min="0" max="1000" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;"># of flights:</label>
                            <input [(ngModel)]="page.selection.numberOfFlights" name="numberOfFlights" type="number"
                                class="form-control" step="1" min="0" max="50" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Percent Endlap:</label>
                            <input [(ngModel)]="page.selection.percentEndLap" name="percentEndLap" type="number"
                                class="form-control" step="1" min="0" max="100" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Percent Sidelap:</label>
                            <input [(ngModel)]="page.selection.percentSideLap" name="percentSideLap" type="number"
                                class="form-control" step="1" min="0" max="100" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Area Covered (acres):</label>
                            <input [(ngModel)]="page.selection.areaCovered" name="areaCovered" type="number"
                                class="form-control" min="0" max="5000" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Weather conditions:</label>
                            <textarea [(ngModel)]="page.selection.weatherConditions" name="weatherConditions"
                                class="form-control">
                            </textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="page.selection.artifacts != null && page.selection.artifacts.length > 0">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Artifacts</div>
                <div class="panel-body">
                    <div class="panel panel-default" *ngFor="let artifact of page.selection.artifacts">
                        <div class="panel-heading">{{artifact.folder}}</div>
                        <div class="panel-body">
                            <ng-container *ngIf="artifact.folder === 'ptcloud'">
                                <div class="form-group">
                                    <label for="ptEpsg">EPSG Number</label>
                                    <input [(ngModel)]="artifact.ptEpsg" name="ptEpsg" type="number" step="1" min="0"
                                        class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="projectionName">Projection Name</label>
                                    <input [(ngModel)]="artifact.projectionName" name="projectionName" type="text"
                                        class="form-control" />
                                </div>

                            </ng-container>

                            <ng-container *ngIf="artifact.folder === 'ortho'">
                                <div class="form-group">
                                    <label for="orthoCorrectionModel">Ortho Correction Model</label>
                                    <select [(ngModel)]="artifact.orthoCorrectionModel" name="orthoCorrectionModel"
                                        class="form-control">
                                        <option></option>
                                        <option value="DSM">DSM</option>
                                        <option value="DTM">DTM</option>
                                        <option value="unknown">Unknown</option>
                                    </select>
                                </div>

                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Platform</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="platform.name">UAV</label>
                        <div>
                            <span>
                                <input id="serialNumber" style="height:auto;" type="radio" value="serialNumber"
                                    name="field" [checked]="field === 'serialNumber'" [(ngModel)]="field">
                                <label for="serialNumber" style="margin-left: 5px;">Serial Number</label>
                            </span>
                            <span style="margin-left: 15px;">
                                <input id="faaNumber" style="height:auto;" type="radio" value="faaNumber" name="field"
                                    [checked]="field === 'faaNumber'" [(ngModel)]="field">
                                <label for="faaNumber" style="margin-left: 5px;">FAA Number</label>
                            </span>
                        </div>
                        <input class="form-control search-input" type="text" placeholder="Search..."
                            [(ngModel)]="search" [typeaheadAsync]="true" [typeahead]="dataSource"
                            (typeaheadOnSelect)="handleUavClick($event)" [typeaheadOptionsLimit]="10"
                            [typeaheadOptionField]="field" [ngModelOptions]="{standalone: true}"
                            (keydown.enter)="$event.preventDefault()" required />
                    </div>


                    <ng-container *ngIf="uav != null">
                        <div class="form-group">
                            <label for="sensor.type">Name</label>
                            {{uav.platform}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.type">Type</label>
                            {{uav.platformType}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.type">Serial Number</label>
                            {{uav.serialNumber}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.type">FAA Id Number</label>
                            {{uav.faaNumber}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.organization">Organization</label>
                            {{uav.organization}}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="uav != null" class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Sensor</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="sensor.name">Name</label>
                        <select [(ngModel)]="page.selection.sensor" name="sensor" class="form-control"
                            (change)="onSensorChange()" required>
                            <option></option>
                            <option *ngFor="let sensor of uav.sensors" [value]="sensor.oid">{{sensor.name}}
                            </option>
                        </select>
                    </div>
                    <ng-container *ngIf="metaObject != null">

                        <div class="form-group">
                            <label for="sensor.type">Type</label>
                            {{metaObject.sensor.sensorType}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.wavelength">Wave Length</label>
                            <ul>
                                <li *ngFor="let wavelength of metaObject.sensor.wavelengths">
                                    {{wavelength.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="sensor.sensorWidth">Sensor Width</label>
                            {{metaObject.sensor.sensorWidth}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.sensorWidth">Sensor Width Units</label>
                            Millimeters
                        </div>
                        <div class="form-group">
                            <label for="sensor.sensorHeight">Sensor Height</label>
                            {{metaObject.sensor.sensorHeight}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.sensorWidth">Sensor Height Units</label>
                            Millimeters
                        </div>
                        <div class="form-group">
                            <label for="sensor.pixelSizeWidth">Pixel Size Width</label>
                            {{metaObject.sensor.pixelSizeWidth}}
                        </div>
                        <div class="form-group">
                            <label for="sensor.pixelSizeHeight">Pixel Size Height</label>
                            {{metaObject.sensor.pixelSizeHeight}}
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>

</ng-container>