<!--



-->
<ng-container>
    <div *ngIf="page.selection.pointOfContact != null" class="row" style="margin-top: 20px;">
        <div class="col-md-12">

            <div class="card border mb-2">
                <div class="card-header">Point Of Contact</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="pointOfContact.name">Name</label>
                        <input type="text" name="pointOfContact.name" [(ngModel)]="page.selection.pointOfContact.name"
                            [maxlength]="100" [required]="false" [disabled]="false"
                            (change)="this.handlePageChange()" />
                    </div>
                    <div class="form-group">
                        <label for="pointOfContact.email">Email</label>
                        <input type="text" name="pointOfContact.email" [(ngModel)]="page.selection.pointOfContact.email"
                            [maxlength]="255" [required]="false" [disabled]="false"
                            (change)="this.handlePageChange()" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="card border mb-2">
                <div class="card-header">Collection</div>
                <div class="card-body">
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <boolean-field [(value)]="page.selection.exifIncluded" label="EXIF Included">
                            </boolean-field>
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">North Bound:</label>
                            <input [(ngModel)]="page.selection.northBound" name="northBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">South Bound:</label>
                            <input [(ngModel)]="page.selection.southBound" name="northBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">East Bound:</label>
                            <input [(ngModel)]="page.selection.eastBound" name="eastBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">West Bound:</label>
                            <input [(ngModel)]="page.selection.westBound" name="westBound" type="number"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Acquisition Date Start:</label>
                            <input [(ngModel)]="page.selection.acquisitionDateStart" name="acquisitionDateStart"
                                type="date" class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Acquisition Date End:</label>
                            <input [(ngModel)]="page.selection.acquisitionDateEnd" name="acquisitionDateEnd" type="date"
                                class="form-control" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Flying Height (ft):</label>
                            <input [(ngModel)]="page.selection.flyingHeight" name="flyingHeight" type="number"
                                class="form-control" step="1" min="0" max="1000" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;"># of flights:</label>
                            <input [(ngModel)]="page.selection.numberOfFlights" name="numberOfFlights" type="number"
                                class="form-control" step="1" min="0" max="50" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Percent Endlap:</label>
                            <input [(ngModel)]="page.selection.percentEndLap" name="percentEndLap" type="number"
                                class="form-control" step="1" min="0" max="100" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Percent Sidelap:</label>
                            <input [(ngModel)]="page.selection.percentSideLap" name="percentSideLap" type="number"
                                class="form-control" step="1" min="0" max="100" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Area Covered (acres):</label>
                            <input [(ngModel)]="page.selection.areaCovered" name="areaCovered" type="number"
                                class="form-control" min="0" max="5000" />
                        </div>
                    </div>
                    <div [@fadeInOnEnter] class="row">
                        <div class="col-md-8">
                            <label for="platform" style="margin-top: 10px;">Weather conditions:</label>
                            <textarea [(ngModel)]="page.selection.weatherConditions" name="weatherConditions"
                                class="form-control">
                            </textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="page.selection.artifacts != null && page.selection.artifacts.length > 0">
        <div class="col-md-12">

            <div class="card border mb-2">
                <div class="card-header">Artifacts</div>
                <div class="card-body">
                    <div class="card" *ngFor="let artifact of page.selection.artifacts">
                        <div class="card-header">{{artifact.folder}}</div>
                        <div class="card-body">
                            <ng-container *ngIf="artifact.folder === 'ptcloud'">
                                <div class="form-group">
                                    <label for="ptEpsg">EPSG Number</label>
                                    <input [(ngModel)]="artifact.ptEpsg" name="ptEpsg" type="number" step="1" min="0"
                                        class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="projectionName">Projection Name</label>
                                    <input [(ngModel)]="artifact.projectionName" name="projectionName" type="text"
                                        class="form-control" />
                                </div>

                            </ng-container>

                            <ng-container *ngIf="artifact.folder === 'ortho'">
                                <div class="form-group">
                                    <label for="orthoCorrectionModel">Ortho Correction Model</label>
                                    <select [(ngModel)]="artifact.orthoCorrectionModel" name="orthoCorrectionModel"
                                        class="form-control">
                                        <option></option>
                                        <option value="DSM">DSM</option>
                                        <option value="DTM">DTM</option>
                                        <option value="unknown">Unknown</option>
                                    </select>
                                </div>

                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">

            <div class="card border mb-2">
                <div class="card-header">Platform</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="platform.name">UAV</label>
                        <div>
                            <span>
                                <input id="serialNumber" style="height:auto;" type="radio" value="serialNumber"
                                    name="field" [checked]="field === 'serialNumber'" [(ngModel)]="field">
                                <label for="serialNumber" style="margin-left: 5px;">Serial Number</label>
                            </span>
                            <span style="margin-left: 15px;">
                                <input id="faaNumber" style="height:auto;" type="radio" value="faaNumber" name="field"
                                    [checked]="field === 'faaNumber'" [(ngModel)]="field">
                                <label for="faaNumber" style="margin-left: 5px;">FAA Number</label>
                            </span>
                        </div>
                        <input class="form-control search-input" type="text" placeholder="Search..."
                            [(ngModel)]="search" [typeaheadAsync]="true" [typeahead]="dataSource"
                            (typeaheadOnSelect)="handleUavClick($event)" [typeaheadOptionsLimit]="10"
                            [typeaheadOptionField]="field" [ngModelOptions]="{standalone: true}"
                            (keydown.enter)="$event.preventDefault()" required />
                    </div>


                    <ng-container *ngIf="uav != null">
                        <div class="row">
                            <label for="uav.name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="uav.name"
                                    [value]="uav.platform">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uav.type" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="uav.type"
                                    [value]="uav.platformType">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uav.serialNumber" class="col-sm-2 col-form-label">Serial Number</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="uav.serialNumber"
                                    [value]="uav.serialNumber">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uav.faaNumber" class="col-sm-2 col-form-label">FAA Id Number</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="uav.faaNumber"
                                    [value]="uav.faaNumber">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uav.organization" class="col-sm-2 col-form-label">Organization</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="uav.organization"
                                    [value]="uav.organization">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="uav != null" class="row">
        <div class="col-md-12">

            <div class="card border mb-2">
                <div class="card-header">Sensor</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="sensor.name">Name</label>
                        <select [(ngModel)]="page.selection.sensor" name="sensor" class="form-control"
                            (change)="onSensorChange()" required>
                            <option></option>
                            <option *ngFor="let sensor of uav.sensors" [value]="sensor.oid">{{sensor.name}}
                            </option>
                        </select>
                    </div>
                    <ng-container *ngIf="metaObject != null">
                        <div class="row">
                            <label for="sensor.type" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.type"
                                    [value]="metaObject.sensor.sensorType">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.collectionFormats" class="col-sm-2 col-form-label">Allowed Collection Formats</label>
                            <div class="col-sm-10">
                                <label style="line-height: 5rem;">{{getCollectionFormatLabels()}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.wavelength" class="col-sm-2 col-form-label">Wave Length</label>
                            <div class="col-sm-10">
                                <ul class="list-group">
                                    <li class="list-group-item" style="line-height:1rem;" *ngFor="let wavelength of metaObject.sensor.wavelengths">
                                        {{wavelength.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.sensorWidth" class="col-sm-2 col-form-label">Sensor Width</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.sensorWidth"
                                    [value]="metaObject.sensor.sensorWidth">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.sensorWidthUnits" class="col-sm-2 col-form-label">Sensor Width Units</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.sensorWidthUnits"
                                    value="Millimeters">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.sensorHeight" class="col-sm-2 col-form-label">Sensor Height</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.sensorHeight"
                                    [value]="metaObject.sensor.sensorHeight">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.sensorHeightUnits" class="col-sm-2 col-form-label">Sensor Height Units</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.sensorHeightUnits"
                                    value="Millimeters">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.pixelSizeWidth" class="col-sm-2 col-form-label">Pixel Size Width</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.pixelSizeWidth"
                                    [value]="metaObject.sensor.pixelSizeWidth">
                            </div>
                        </div>
                        <div class="row">
                            <label for="sensor.pixelSizeHeight" class="col-sm-2 col-form-label">Pixel Size Height</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="sensor.pixelSizeWidth"
                                    [value]="metaObject.sensor.pixelSizeHeight">
                            </div>
                        </div>
                        
                    </ng-container>
                </div>
            </div>

            <div *ngIf="metaObject != null" class="form-group" style="margin-top: 2rem;">
                <div class="">
                    <label for="collectionFormat" class="">Collection Format:</label>
                    <select *ngIf="collectionFormatMetadatas" [(ngModel)]="page.selection.format" id="collectionFormat" name="collectionFormat" class="form-control"
                        (change)="onCollectionFormatChange()" required>
                        <option></option>
                        <option *ngFor="let format of collectionFormatMetadatas" [value]="format.value">{{format.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</ng-container>