<div *ngIf="sensor != null" class="modal-body">
  <div *ngIf="message != null" class="error-container">
    <div class="label-holder">
      <strong>Error</strong>
    </div>
    <div class="holder">
      <div>
        <p class="error-message">{{message}}</p>
      </div>
    </div>
  </div>

  <div class="modal-title-container">
      <h3>Sensor</h3>
  </div>

  <form #ngForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="sensor.name" name="name" type="input" class="form-control" placeholder="Name" [disabled]="!newInstance" required  />
    </div>
    <div class="form-group">
      <label>Label</label>
      <input [(ngModel)]="sensor.displayLabel" name="displayLabel" type="input" class="form-control" placeholder="Display Label" required />
    </div>
    <div class="btn-holder" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="handleOnCancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()" [disabled]="!ngForm.valid">Apply</button>
    </div>
  </form>
</div>
