<!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{context}}/prism/home#/menu" title="Home"><img [src]="context + '/logo/view?id=logo'" /></a>
        <!-- <p class="navbar-brand" style="margin: 0;" >{{title}}</p> -->
      </div>
          
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <span class="glyphicon glyphicon-menu-hamburger"></span> 
          </a>    

          <ul *dropdownMenu class="dropdown-menu">
            <li *ngIf="admin" role="menuitem"><a class="dropdown-item" routerLink="/admin/accounts">Administration</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/tasks" routerLinkActive="active">Workflow Tasks</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/upload" routerLinkActive="active">Collection Upload</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="/viewer" routerLinkActive="active">Site Viewer</a></li>
            <li role="menuitem"><a class="dropdown-item" href="{{context}}/session/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
      
      <div class="navbar-right user-indicator">
        <p class="navbar-text">Logged in as <b style="color:white;">{{userName}}</b></p>
      </div>
      
    </div>
  </nav>
</header>
