.btn.btn-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    margin-top: 10px !important;
}
.btn.btn-danger:hover {
    background-color: #d2322d !important;
    border-color: #ac2925 !important;

}

#app-container {
    background: #f7f7f7;
}

#tasks-container {
    padding: 20px;
    background: white;
    border-radius: 6px;
}

#tasks .panel-body {
    background: #e9e9e9;
}
#tasks .panel-footer {
    background: #e9e9e9;
}

.panel-body{
    background: white;
}
.panel-body.collapse{
    padding: 0;
}
.panel-body.collapse.in.show{
    padding: 20px;
}