<uasdm-header [title]="'Tasks'"></uasdm-header>

<div id="app-container" class="container-fluid" style="padding-top:20px;">

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div id="tasks">

        <div *ngIf="messages && messages.length > 0">
          <h2>Tasks</h2>

          <div id="tasks-container">
            <div class="row">
              <h3 class="col-sm-6">Issue</h3>
              <h3 class="col-sm-3">Upload Date</h3>
              <h3 class="col-sm-3">Actions</h3>
            </div>
            <div class="panel panel-default" *ngFor="let message of messages">
              <!-- <div class="panel-heading">Panel heading without title</div> -->
          
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <span class="dot pending" style="margin-left:0;"></span>
                      {{message.message}}
                    </div>
                    <p style="margin-top:10px;margin-bottom:0;color:grey;">Bread / crumb / to / collection</p>
                  </div>
                  <div class="col-sm-3">
                    <div>TODO: date</div>
                  </div>
                  <div class="col-sm-3" style="text-align: right;">
                    <div>
                      <button class="btn btn-default" (click)="handleGoto(message.collectionId)">View Collection</button>
                      <button class="btn btn-primary" style="margin-left: 10px;" (click)="handleMessage(message)">Add Metadata</button>
                    </div>
                  </div>
                </div>
              </div>
          
              <!-- <div class="panel-footer">Bread / crumb / to / collection</div> -->
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>


  <div class="row" style="margin-bottom: 40px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h3>Uploads</h3>

      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a role="tab" data-toggle="tab" (click)="onTabClick($event, 'action-required')">Action Required</a>
        </li>
        <li>
          <a role="tab" data-toggle="tab" (click)="onTabClick($event, 'success')">Successful</a>
        </li>
      </ul>

      <div class="tab-content" >

        <div *ngIf="activeTab === 'action-required'" class="tab-pane active" id="action-required">
          
          <div class="panel-group">
            <div *ngFor="let taskGroup of taskGroups; let idx=index" class="panel panel-default" style="background: none;border: none;">
            
                <div class="panel-heading clickable" style="margin-top: 20px;background-color: #e9e9e9">
                  <h4 class="panel-title" style="display: inline-block; vertical-align: middle;">
                    <a data-toggle="collapse" (click)="taskGroup.visible = !taskGroup.visible" [attr.aria-expanded]="!taskGroup.visible"
                      [attr.aria-controls]="'taskGroup'+ idx">
                      <h4>{{taskGroup.label}}</h4>
                    </a>
                  </h4>
                  
                  <span class="dot" [ngClass]="{'success':taskGroup.status === 'Complete','pending':taskGroup.status === 'Queued','fail':taskGroup.status === 'Failed'}" ></span>

                  <button class="btn btn-default pull-right" (click)="handleGoto(taskGroup.collectionId)">View Collection</button>

                </div>
            
                <div class="panel-body" [isAnimated]="false" [collapse]="!taskGroup.visible">
                  <div *ngFor="let taskGroupType of taskGroup.groups; let grpi=index">
                    <div [id]="'task'+ grpi">

                      <!-- Upload Tasks -->
                      <div *ngIf="taskGroupType.type === 'UPLOAD'">
                        <tasks-panel [taskGroupType]="taskGroupType" [groupTypeId]="grpi" [taskCategory]="'Upload'" ></tasks-panel>
                      </div>

                      <!-- Process Tasks -->
                      <div *ngIf="taskGroupType.type === 'PROCESS'">
                        <tasks-panel [taskGroupType]="taskGroupType" [groupTypeId]="grpi" [taskCategory]="'Process'" ></tasks-panel>
                      </div>

                      <!-- Store Tasks -->
                      <div *ngIf="taskGroupType.type === 'STORE'">
                        <tasks-panel [taskGroupType]="taskGroupType" [groupTypeId]="grpi" [taskCategory]="'Store'" ></tasks-panel>
                      </div>
                
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div *ngIf="activeTab === 'success'" class="tab-pane active" id="success">
          <div class="panel-group">
          </div>
        </div>

        <div *ngIf="activeTab === 'all'" class="tab-pane active" id="all">
          <div class="panel-group">
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-1"></div>

  </div>


</div>

