<!--



-->
<ng-container>

    <div class="list-group">

        <div *ngIf="views.length < 1" [@fadeInOnEnter] style="padding: 10px;text-align: center;color: grey;">
            <h4>
                <span *ngIf="loading">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Loading Raw Sets
                </span>
                <p *ngIf="!loading">No data found</p>
            </h4>
        </div>

        <ng-container *ngFor="let view of views">

            <div *ngFor="let set of view.sets" class="list-group-item" style="padding-left: 3px; padding-right: 3px;">
                <div class="card card-default" [@fadeInOnEnter] [@fadeOutOnLeave]>
                    <div class="card-body">
                        <h5 class="card-title" style="color:#a0a0a0">
                            {{set.name}}
                        </h5>

                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb" style="margin: 5px 0 5px 0;">
                                <li class="breadcrumb-item" *ngFor="let entity of set.components">
                                    <span> {{entity.name}}</span>
                                </li>
                            </ol>
                        </nav>

                        <div style="padding:10px 15px;">
                            <label class="form-label">
                                <label class="form-label">Images</label>
                            </label>
                            <select [(ngModel)]="set.documentId" name="documentId" (change)="setDocument(view, set)">
                                <option></option>
                                <option *ngFor="let document of set.documents" [value]="document.id">
                                    {{document.name}}
                                </option>
                            </select>
                        </div>


                        <div *ngIf="thumbnails[set.documentId] != null">
                            <a class="thumbnail" (click)="previewImage(set.document)">
                                <img class="mx-auto d-block img-thumbnail"
                                    [src]="thumbnails[set.documentId] | safeHtml" (error)="getDefaultImgURL($event)"
                                    alt="Image">
                            </a>
                        </div>
                        <div class="raw-set-actions raw-set-actions--compact d-flex flex-wrap align-items-center">
                            <button class="raw-set-action" type="button" (click)="handleMapIt(set)"
                                title="View the centroids of the raw images on the map">
                                <i class="fa raw-set-icon"
                                    [ngClass]="{'fa-check': set.mapped, 'fa-globe': !set.mapped}"></i>
                                <span>View Centroids</span>
                            </button>


                            <button class="raw-set-action" type="button" *ngIf="isAdmin"
                                (click)="handleToggleLock(set)">
                                <i class="fa raw-set-icon"
                                    [ngClass]="{'fa-lock': set.locked, 'fa-lock-open': !set.locked}"></i>
                                <span>{{ set.locked ? 'Unlock' : 'Lock' }}</span>
                            </button>

                            <button class="raw-set-action danger" type="button"
                                *ngIf="!set.locked && !set.published"
                                (click)="handleDelete(view, set, $event)">
                                <i class="fa fa-trash-alt raw-set-icon"></i><span>Delete</span>
                            </button>

                            <button class="raw-set-action" type="button"
                                *ngIf="!set.locked && !set.published"
                                (click)="handleTogglePublish(set)">
                                <i class="fa fa-arrow-alt-circle-up raw-set-icon"></i><span>Publish</span>
                            </button>

                            <button class="raw-set-action" type="button"
                                *ngIf="!set.locked && set.published"
                                (click)="handleTogglePublish(set)">
                                <i class="fa fa-arrow-alt-circle-down raw-set-icon"></i><span>Unpublish</span>
                            </button>

                            <!-- <button class="raw-set-action" type="button" *ngIf="set.published"
                                (click)="clipboardPublicStacUrl(set, clipboardPopover)">
                                <i class="fa fa-link raw-set-icon" [id]="'PublicStacUrl-' + set.id"
                                    [popover]="'Copied to clipboard!'" triggers="" #clipboardPopover="bs-popover"
                                    placement="top"></i>
                                <span>Share</span>
                            </button> -->
                        </div>

                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</ng-container>