<!--



-->
<ng-container>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-holder" style="float: right; text-align: right;padding: 0 10px 10px 0;">
                <a (click)="handleClose()">
                    <i class="fa fa-solid fa-arrow-left hover-color"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="layers == null || layers.length == 0">
        <div class="col-md-12" style="padding: 20px;text-align: center;color: grey; font-style: italic;">
            <h4>No data selected</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="background:#f7f7f7; padding:0; height:100%;">
            <div class="list-group">
                <ng-container *ngFor="let layer of layers">
                    <div class="list-group-item">
                        <div class="card card-default">
                            <div class="card-body">
                                <!-- Know STAC Layer-->
                                <ng-container *ngIf="layer.type === 2">
                                    <h5 class="card-title" style="color:#a0a0a0">
                                        {{layer.layerName}}
                                    </h5>

                                    <span class="thumbnail">
                                        <img class="mx-auto d-block img-thumbnail"
                                            [src]="layer.item.thumbnail != null ? layer.item.thumbnail : (context + '/assets/thumbnail-default.png')"
                                            alt="Image">
                                    </span>
                                </ng-container>

                                <!-- Product Layer-->
                                <ng-container *ngIf="layer.type === 1">

                                    <h5 class="card-title" style="color:#a0a0a0">
                                        {{layer.layerName}} - {{layer.asset.classification}}
                                    </h5>

                                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item" *ngFor="let entity of layer.item.entities">
                                                <span> {{entity.name}} </span>
                                            </li>
                                        </ol>
                                    </nav>
                                    <span class="thumbnail" *ngIf="thumbnails[layer.id] != null">
                                        <img class="mx-auto d-block img-thumbnail"
                                            [src]="thumbnails[layer.id] | safeHtml" (error)="getDefaultImgURL($event)"
                                            alt="Image">
                                    </span>
                                </ng-container>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <a (click)="handleToggleVisibility(layer)">
                                            <i class="fa fa-eye"></i>
                                            {{layer.active ? 'Hide' : 'Show'}}
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a (click)="handleGotoExtent(layer)">
                                            <i class="fa product-icon fa-globe"></i>
                                            Zoom
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a (click)="handleRemoveLayer(layer)">
                                            <i class="fa fa-trash-alt"></i>
                                            Remove
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a (click)="handleGetInfo(layer)" title="View more information layer.">
                                            <i class="fa fa-info-circle product-icon"></i>
                                            Get Info
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>