<div>
  <table *ngIf="artifacts != null" style="width: 100%;">
    <ng-container *ngFor="let section of sections; let i = index">
      <thead>
        <th>{{section.label}}</th>
        <th>{{i === 0 ? 'Tool' : ''}}</th>
        <th>{{i === 0 ? 'Date' : ''}}</th>
        <th>{{i === 0 ? 'Description' : ''}}</th>
        <th></th>
      </thead>
      <tr>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].name : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].tool : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].lastModified : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].description : ''}}</td>
        <td>
          <button *ngIf="artifacts[section.folder] != null" type="button" class="btn btn-warning" [disabled]="processRunning" (click)="handleRemove(section.folder)">
            Remove
          </button>
          <button *ngIf="artifacts[section.folder] == null" type="button" class="btn btn-primary" [disabled]="processRunning" (click)="handleUpload(section.folder)">
            Upload
          </button>

        </td>
      </tr>  
    </ng-container>


  </table>
</div>