<div>

  <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-left:50%;"></i>
  
  <table *ngIf="artifacts != null" style="width: 100%;">
  	<thead>
        <th>Type</th>
        <th>Processing Software</th>
        <th>Date</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </thead>
    <ng-container *ngFor="let section of sections; let i = index">
      <tr>
      	<td>{{section.label}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].name : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].tool : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].lastModified : ''}}</td>
        <td>{{artifacts[section.folder] != null ? artifacts[section.folder].description : ''}}</td>
        <td *ngIf="!edit" style="text-align:right;">
          <button *ngIf="artifacts[section.folder] != null" type="button" class="btn btn-warning"
            [disabled]="processRunning" (click)="handleRemove(section.folder)" style="margin: 5px 0;">
            Remove
          </button>
          <button *ngIf="artifacts[section.folder] == null" type="button" class="btn btn-primary"
            [disabled]="processRunning" (click)="handleUpload(section.folder)" style="margin: 5px 0;">
            Upload
          </button>
        </td>
        <td *ngIf="edit">
          <boolean-field *ngIf="section.folder === 'ptcloud'" [(value)]="config.processPtcloud"
            [label]="artifacts[section.folder] != null ? 'Overwirte' : 'Generate'">
          </boolean-field>
          <boolean-field *ngIf="section.folder === 'dem'" [(value)]="config.processDem"
            [label]="artifacts[section.folder] != null ? 'Overwirte' : 'Generate'"></boolean-field>
          <boolean-field *ngIf="section.folder === 'ortho'" [(value)]="config.processOrtho"
            [label]="artifacts[section.folder] != null ? 'Overwirte' : 'Generate'"></boolean-field>
        </td>

      </tr>
    </ng-container>


  </table>
</div>