<div class="modal-body">
  <div  style="height: 500px">
  <div *ngIf="message != null" class="error-container">
    <div class="label-holder">
      <strong>Error</strong>
    </div>
    <div class="holder">
      <div>
        <p class="error-message">{{message}}</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="entity != null">
    <div class="row">
      <div class="col-md-12">
        <h2>{{entity.name}}</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li *ngFor="let prev of previous">
            <span> {{prev.name}}</span>
          </li>
        </ul>                    
      </div>
    </div>
  
    <div class="row">
      <tabset>
        <tab *ngFor="let folder of folders" 
           [heading]="folder.name" 
           (select)="onSelect(folder)">
          <div>
            <div id="image-list-container">
              <ul class="media-list">
                <li class="media" *ngFor="let image of images">
                  <div class="media-left" *ngIf="thumbnails[image.key] != null">
                    <a (click)="previewImage($event, image)">
                      <img class="image-thumbnail" [src]="thumbnails[image.key] | safeHtml" (error)="getDefaultImgURL($event)" alt="Image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{image.name}}</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>      
        </tab>
      </tabset>
    </div>
    <div class="btn-holder" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
      <button (click)="handleRunOrtho()" class="btn btn-primary pull-right">Reprocess imagery</button>    
    </div>
    
    <div class="row">
    </div>
  </div>
  </div>
</div>
