<div *ngIf="entity != null" class="modal-body">
  <div *ngIf="message != null" class="error-container">
    <div class="label-holder">
      <strong>Error</strong>
    </div>
    <div class="holder">
      <div>
        <p class="error-message">{{message}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="newInstance" class="modal-title-container">
      <h3 >Add new {{entity.type}}</h3>
  </div>

  <form #ngForm="ngForm">
    <div *ngFor="let attribute of attributes">
      <div *ngIf="evaluate(attribute)" class="form-group">
        <div *ngIf="attribute.type === 'text'">
          <label>{{attribute.label}}</label>
          <input [(ngModel)]="entity[attribute.name]" [name]="attribute.name" type="input" class="form-control" [disabled]="attribute.readonly" [placeholder]="attribute.label" [required]="attribute.required" />
        </div>
        <div *ngIf="attribute.type === 'list'">
          <label>{{attribute.label}}</label>
          <select [(ngModel)]="entity[attribute.name]" [name]="attribute.name" type="input" [disabled]="attribute.readonly" [required]="attribute.required">
            <option></option>
            <option *ngFor="let option of attribute.options" [value]="option.value">{{option.label}}</option>
          </select>
        </div>
        <div *ngIf="attribute.type === 'text-area'">
          <label>{{attribute.label}}</label>
          <textarea [(ngModel)]="entity[attribute.name]" [name]="attribute.name"  [disabled]="attribute.readonly" class="form-control" [required]="attribute.required">
          </textarea>
        </div>
        <div *ngIf="attribute.type === 'point'">          
          <map-attribute [(site)]="entity" [center]="center" [zoom]="zoom" ></map-attribute>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="entity.type === 'Collection' && !newInstance">
        <label>Privilege </label>
        
        <select style="padding:6px 10px;font-size:14px;" [(ngModel)]="entity.privilegeType" name="collection-privilege" type="input" [required]="true" 
           [disabled]="admin === false || entity.ownerName !== userName">
            <option value="OWNER">Owner</option>
            <option value="AGENCY">Agency</option>
            <option value="PUBLIC">Public</option>
        </select>

    </div>

    <div class="btn-holder" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()" [disabled]="!ngForm.valid">Apply</button>
    </div>
  </form>
</div>
