<div>
	<h3>Metadata</h3>
    <div class="modal-body" tabindex="-1" role="dialog">

        <div *ngIf="isOldFormat" class="row error-container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="label-holder">
                    <strong style="color:#c7a717;">Information</strong>
                </div>
                <div class="holder">
                    <div>
                        <p style="color:#c7a717;">The metadata was originally submitted in an out of date format and needs to be re-entered</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


        <div *ngIf="message != null && message.length > 0" class="row error-container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="label-holder">
                    <strong style="color:#8c0000;">Error</strong>
                </div>
                <div class="holder">
                    <div>
                        <p class="error-message">{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Section for each page -->
        <div *ngIf="page != null" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <metadata-page [(page)]="page"></metadata-page>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">

        <div class="row">
            <div class="col-md-12">
                <div class="btn-holder" style="text-align: right;">
                    <button type="button" (click)="close()" [disabled]="disabled"
                        class="btn btn-default" role="button" aria-disabled="false" style="padding: 4px 18px;">
                        <span class="ui-button-text">Close</span>
                    </button>

                    <button type="button btn btn-primary"
                        [disabled]="disabled" class="btn btn-primary" (click)="handleSubmit()">
                        <i class="icon-upload icon-white"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>