<div class="modal-header text-center">
    <h2>Collection Metadata</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <form #ngForm="ngForm" class="modal-form">
            <div class="modal-body">

                <div *ngIf="message != null" class="error-container">
                    <div class="label-holder">
                        <strong>Error</strong>
                    </div>
                    <div class="holder">
                        <div>
                            <p class="error-message">{{message}}</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Point Of Contact</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="pointOfContact.name">Name</label>
                            <input type="text" name="pointOfContact.name" [(ngModel)]="metaObject.pointOfContact.name"
                                [maxlength]="100" [required]="false" [disabled]="false" />
                        </div>
                        <div class="form-group">
                            <label for="pointOfContact.email">Email</label>
                            <input type="text" name="pointOfContact.email" [(ngModel)]="metaObject.pointOfContact.email"
                                [maxlength]="255" [required]="false" [disabled]="false" />
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Platform</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="platform.name">Name</label>
                            <select [(ngModel)]="metaObject.platform.name" name="platform.name" type="input" (change)="handlePlatformSelect()" required>                               
                                <option></option>
                                <option *ngFor="let platform of platforms" [value]="platform.oid">{{platform.displayLabel}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="metaObject.platform.name === otherPlatformId">
                            <label for="platform.class">Other name</label>
                            <input type="text" name="platform.otherName" [(ngModel)]="metaObject.platform.otherName"
                                maxlength="20" required />
                        </div>
                        <div class="form-group">
                            <label for="platform.class">Class</label>
                            <input type="text" name="platform.class" [(ngModel)]="metaObject.platform.class"
                                [maxlength]="20" [disabled]="false" required />
                        </div>
                        <div class="form-group">
                            <label for="platform.type">Type</label>
                            <select [(ngModel)]="metaObject.platform.type" name="platform.type" type="input" class=""
                                [disabled]="metaObject.platform.name !== otherPlatformId" required>
                                <option></option>
                                <option>Fixed Wing</option>
                                <option>Hybrid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="platform.serialNumber">Serial Number</label>
                            <input type="text" name="platform.serialNumber"
                                [(ngModel)]="metaObject.platform.serialNumber" [maxlength]="50"
                                [required]="true" [disabled]="false" />
                        </div>
                        <div class="form-group">
                            <label for="platform.faaIdNumber">FAA Id Number</label>
                            <input type="text" name="platform.faaIdNumber" [(ngModel)]="metaObject.platform.faaIdNumber"
                                [maxlength]="30" [required]="true" [disabled]="false" />
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Sensor</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="sensor.name">Name</label>
                            <select [(ngModel)]="metaObject.sensor.name" name="sensor.name" type="input" (change)="handleSensorSelect()" required>                               
                                <option></option>
                                <option *ngFor="let sensor of sensors" [value]="sensor.oid">{{sensor.displayLabel}}</option>
                            </select>
                        </div>                    
                        <div class="form-group" *ngIf="metaObject.sensor.name === otherSensorId">
                            <label for="sensor.class">Other name</label>
                            <input type="text" name="sensor.otherName" [(ngModel)]="metaObject.sensor.otherName"
                                maxlength="20" required />
                        </div>
                        <div class="form-group">
                            <label for="sensor.type">Type</label>
                            <input type="text" name="sensor.type" [(ngModel)]="metaObject.sensor.type" [maxlength]="20"
                                [required]="true" [disabled]="metaObject.sensor.name !== otherSensorId" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.model">Model</label>
                            <input type="text" name="sensor.model" [(ngModel)]="metaObject.sensor.model"
                                [maxlength]="20" [required]="true" [disabled]="metaObject.sensor.name !== otherSensorId" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.wavelength">Wave Length</label>
                            <div *ngFor="let wavelength of wavelengths">
                              <boolean-field [value]="metaObject.sensor.wavelength && (-1 !== metaObject.sensor.wavelength.indexOf(wavelength))" [label]="wavelength" (valueChange)="updateSelectedWaveLength(wavelength, $event)" [disabled]="metaObject.sensor.name !== otherSensorId"></boolean-field>                              
                            </div>                                                        
                        </div>
                        <!-- <div class="form-group">
                            <label for="sensor.imageWidth">Image Width</label>
                            <input type="text" name="sensor.imageWidth" [(ngModel)]="imageWidth"
                                [required]="true" [disabled]="true" OnlyNumber="true" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.imageHeight">Image Height</label>
                            <input type="text" name="sensor.imageHeight" [(ngModel)]="imageHeight"
                                [required]="true" [disabled]="true" OnlyNumber="true" />
                        </div> -->
                        <div class="form-group">
                            <label for="sensor.sensorWidth">Sensor Width</label>
                            <input type="number" name="sensor.sensorWidth" [(ngModel)]="metaObject.sensor.sensorWidth"
                                [required]="true" [disabled]="false" OnlyNumber="true" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.sensorHeight">Sensor Height</label>
                            <input type="number" name="sensor.sensorHeight" [(ngModel)]="metaObject.sensor.sensorHeight"
                                [required]="true" [disabled]="false" OnlyNumber="true" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.pixelSizeWidth">Pixel Size Width</label>
                            <input type="number" name="sensor.pixelSizeWidth"
                                [(ngModel)]="metaObject.sensor.pixelSizeWidth" [required]="true" [disabled]="false"
                                OnlyNumber="true" />
                        </div>
                        <div class="form-group">
                            <label for="sensor.pixelSizeHeight">Pixel Size Height</label>
                            <input type="number" name="sensor.pixelSizeHeight"
                                [(ngModel)]="metaObject.sensor.pixelSizeHeight" [required]="true" [disabled]="false"
                                OnlyNumber="true" />
                        </div>
                    </div>
                </div>

                <div class="button-holder">
                    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
                    <button type="button" [disabled]="!ngForm.valid" class="btn btn-primary"
                        (click)="handleSubmit()">
                        <i class="icon-upload icon-white"></i> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>