<div>
    <div class="modal-body">
        <div *ngIf="message != null" class="error-container">
            <div class="label-holder">
                <strong>Error</strong>
            </div>
            <div class="holder">
                <div>
                    <p class="error-message">{{message}}</p>
                </div>
            </div>
        </div>

        <h3>Run ortho to process the following products: </h3>

        <artifact-page *ngIf="entity != null" [edit]="true" [entity]="entity" [config]="config"
            (onError)="error($event)"></artifact-page>
    </div>
    <div class="modal-footer">
        <div class="btn-holder" style="text-align: right;">
            <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" role="button"
                aria-disabled="false" style="padding: 4px 18px;">Cancel</button>
            <button type="button" (click)="confirm()" class="btn-primary" class="btn" role="button"
                aria-disabled="false" style="padding: 4px 18px;">Submit</button>
        </div>
    </div>
</div>