<div id="login-page" class="new-admin-design-main">
    <login-header></login-header>

    <div class="vertical-center">
        <div id="app-container" class="container">

            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
                <div class="col-md-6 col-sm-4 col-xs-8">
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-md-12">

                            <div class="heading text-center">
                                <h2>
                                <!-- 
                                    <localize key="login.page.title"></localize>
                                    -->
                                </h2>
                                <!-- <p class="lead">
                                    <localize key="login.page.description"></localize>
                                </p> -->
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <form id="login-form" class="login" #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                                <div id="login-input-container">
                                    <div class="row">
                                        <input [(ngModel)]="username" name="username" type="text"
                                            [placeholder]="'login.username' | localize" id="login" required />
                                        <input [(ngModel)]="password" name="password" type="password"
                                            [placeholder]="'login.password' | localize" id="password" required />
                                        <a style="color:black;" routerLink="/forgotpassword" class="forgot-password">
                                            <localize key="login.forgotPassword"></localize>
                                        </a>
                                    </div>
                                    <!-- <p class="login-submit"> -->
                                    <div class="row">
                                        <button type="submit" id="login-btn" class="btn btn-primary"
                                            [disabled]="!(form.valid)">
                                            <localize key="login.button"></localize>
                                        </button>
                                    </div>
                                    <!-- </p> -->
                                </div>
                            </form>

                        </div>
                    </div>
                    
                    <div *ngIf="keycloakEnabled" class="row">
                      <div class="col-md-12 text-center">
                        <h4 class="keycloak-or-line-block">
                          <span class="keycloak-or-text">&nbsp;Or&nbsp;</span>
                        </h4>
                    
                        <button (click)="onClickKeycloak()" class="keycloak-login-button">
                          <span class="keycloak-login-button-text">
                            Log in with 
                          </span>
                          <span>
									            <img alt="Logo" src="https://www.geoplatform.gov/wp-content/themes/geoplatform-portal-four/img/logo.svg" style="width:2em">
									            <span class="keycloak-login-button-text">GeoPlatform.gov</span>
                          </span>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-2"></div>
            </div>
        </div>
    </div>
</div>

