<!--



-->
<div class="modal-body">

  <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()" [mustMatch]="['password', 'certainPassword']">
    <div class="heading">
      <h3>User Profile</h3>
    </div>
    <hr>
    <div class="form-group">
      <label class="form-label">
        <localize key="account.firstname"></localize>
      </label>
      <input [disabled]="externalProfile" type="text" [(ngModel)]="profile.firstName" name="firstname" required>
    </div>
    <div class="form-group">
      <label class="form-label">
        <localize key="account.lastname"></localize>
      </label>
      <input [disabled]="externalProfile" type="text" [(ngModel)]="profile.lastName" name="lastname" required>
    </div>
    <div class="form-group">
      <label class="form-label">
        <localize key="account.email"></localize>
      </label>
      <input [disabled]="externalProfile" type="email" [(ngModel)]="profile.email" name="email" #aemail="ngModel" required email>
      <div *ngIf="aemail.errors?.email" class="inline-error-message">
        <localize key="account.email.validation"></localize>
      </div>
    </div>

    <div class="heading">
      <h3>
        <localize key="account.info.heading"></localize>
      </h3>
    </div>
    <hr>
    
    <div *ngIf="profile.bureau != null" class="form-group">
      <label class="form-label">
        Bureau
      </label>
      <input [disabled]="true" type="text" [(ngModel)]="profile.bureau" name="bureau" required>
    </div>

    <div class="form-group">
      <label class="form-label">
        <localize key="account.username"></localize>
      </label>
      <input [disabled]="profile.username === 'admin' || externalProfile" type="text" [(ngModel)]="profile.username" name="username" required>
    </div>

    <div *ngIf="!externalProfile" class="form-group">
      <boolean-field [(value)]="profile.changePassword" [label]="'account.changePassword' | localize"></boolean-field>
    </div>

    <div *ngIf="profile.changePassword && !externalProfile">
      <div class="form-group">
        <label class="form-label">
          <localize key="account.password"></localize>
        </label>
        <input type="password" [(ngModel)]="profile.password" name="password" #password="ngModel" required minlength="5" maxlength="50" passwordValidator>
        <password-strength-bar [passwordToCheck]="profile.password"></password-strength-bar>
        <div *ngIf="password.errors?.passwordStrength" class="inline-error-message">
          The password must be at least 14 characters in length and must contain at least: Two uppercase letters [A-Z], two lowercase letters [a-z], two digits [0-9], and two special characters [e.g.: !&#64;#$*&amp;]
        </div>                  
      </div>
      <div class="form-group">
        <label class="form-label">
          <localize key="account.certainPassword"></localize>
        </label>
        <input type="password" name="certainPassword" [ngModel]="certainPassword" #certainPassword="ngModel" required />
        <div *ngIf="certainPassword.errors && certainPassword.errors.mustMatch" class="inline-error-message">
          <localize key="account.certainPassword.validation"></localize>
        </div>
      </div>
    </div>

    <div class="btn-holder" style="text-align: right;">
      <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />
      <input *ngIf="!externalProfile" type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
    </div>
  </form>
</div>
