<!--



-->
<div>
  <uasdm-header></uasdm-header>

  <div id="app-container" class="container">

    <div *ngIf="uav != null" class="modal-body">
      <div *ngIf="message != null" class="error-container">
        <div class="label-holder">
          <strong>Error</strong>
        </div>
        <div class="holder">
          <div>
            <p class="error-message">{{message}}</p>
          </div>
        </div>
      </div>

      <div class="modal-title-container">
        <h3>UAV</h3>
      </div>

      <form #ngForm="ngForm">
        <div class="form-group">
          <label class="form-label">Platform</label>
          <select *ngIf="mode !== 'READ'" [(ngModel)]="uav.platform" name="platform" type="input" class="form-control"
            required>
            <option></option>
            <option *ngFor="let platform of platforms" [value]="platform.oid">{{platform.name}}</option>
          </select>
          <ng-container *ngIf="mode === 'READ'">
            <div *ngFor="let platform of platforms | filter:'oid':uav.platform">
              <a [routerLink]="['/site/platform', platform.oid]">{{platform.name}}</a>
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label class="form-label">Serial Number</label>
          <input [(ngModel)]="uav.serialNumber" name="serialNumber" type="input" class="form-control"
            placeholder="Serial Number" [disabled]="mode === 'READ'" required />
        </div>
        <div class="form-group">
          <label class="form-label">FAA Number</label>
          <input [(ngModel)]="uav.faaNumber" name="faaNumber" type="input" class="form-control" placeholder="FAA Number"
            [disabled]="mode === 'READ'" required max="10" maxlength="10" />
        </div>
        <div class="form-group">
          <label class="form-label">Description</label>
          <textarea [(ngModel)]="uav.description" [disabled]="mode === 'READ'" name="description" type="input"
            class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label class="form-label">Organization</label>
          <organization-field name="organization" [(value)]="uav.organization" [disabled]="mode === 'READ'" [required]="true">
          </organization-field>
        </div>
        <div *ngIf="isAdmin && mode === 'WRITE'" class="btn-holder mt-2" style="text-align: right;">
          <button *ngIf="!newInstance" type="button" class="btn btn-default p-2" (click)="handleOnCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary p-2" (click)="handleOnSubmit()"
            [disabled]="!ngForm.valid">Apply</button>
        </div>
        <div *ngIf="isAdmin && mode === 'READ'" class="btn-holder mt-2" style="text-align: right;">
          <button type="submit" class="btn btn-primary p-2" (click)="handleOnEdit()">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>