<!--



-->
<input type="file" class="file-input" (change)="onFileSelected($event)" [accept]="accept" #fileUpload>

<button *ngIf="uploadStatus == null" type="button" class="btn btn-primary" style="margin-left:0;"
  (click)="fileUpload.click()">
  {{this.label}}
</button>
<span class="upload-success" *ngIf="uploadStatus === 'success'"><span>Uploaded</span><i class="fa fa-solid fa-check"></i></span>
<span class="upload-fail" *ngIf="uploadStatus === 'error'"><span>Failed</span><i class="fa fa-solid fa-exclamation"></i></span>
