/**
 *
 */
/* 
 * Theme Config 
 */

:root {
  /* 

  Color Pallette
    #6BA53A - Green
    #7C868D - Dark  grey/blue
    #D7BD0C - Yellow
    #007276 - Turquis
    #B6D7D8 - Light turquis
  */

 --theme-primary-color: #7C868D;
 --theme-primary-color-hover: #9dabb5;

 --theme-accent-color: #D7BD0C;
 --theme-accent-color-hover: #ddd17a;

 --theme-alert-color: #e30000;

  /* Buttons */
 --theme-button-text-color: #767676;
 --theme-button-color: white;

 --theme-button-color-hover: #007276;
 --theme-button-color-border: lightgrey;
 --theme-button-black: #767676;
 
 --theme-button-secondary-color: grey;
 --theme-button-secondary-color-hover: lightgrey;
 --theme-button-secondary-background: #efefef;;
 --theme-button-secondary-background-hover: #e9e9e9;

 --theme-button-default-color: grey;
 --theme-button-default-color-hover: #007276;
 --theme-button-default-background: white;
 --theme-button-default-background-hover: #f8f8f8;

 --theme-cancel-button-color: grey;
 --theme-cancel-button-color-hover: #007276;

 --theme-submit-button-color: #007276;
 --theme-submit-button-color-hover: #00adb3;
 --theme-submit-button-color-light: #B6D7D8;
 --theme-submit-button-color-light-hover: #98c6c8;

 --theme-alert-button-color: #e30000;
 
.btn-outline-secondary{
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: rgba(124,134,141,.08);
  --bs-btn-active-color: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-active-bg: rgba(124,134,141,.08);
}

  /* Text */
 --theme-text-dark: #767676;
 --theme-text-error: red;
 --font-family-default: "Roboto";

  /* Lists */
 --theme-list-light: #CFCAD6;
 --theme-list-medium: #9D94AC;
 --theme-list-dark: #D7BD0C;

  /* Inputs */
 --theme-input-text-border: #767676;
 --theme-input-text-border-active: #007276;

  /* Dimensions */
 --theme-header-height: 144px;
}