<!--



-->
<!-- Template for search results -->
<ng-template #bsItemTemplate let-match="match" let-query="query">
  <ng-container *ngIf="match.item.type != null && match.item.type === 'LOCATION'">
    <span>
      <i class="fa fa-map"></i>
    </span>
    <b>{{ match.item.label}} : {{ match.item.typeLabel}}</b>
  </ng-container>

  <ng-container *ngIf="match.item.type == null || match.item.type !== 'LOCATION'">
    <span *ngIf="match.item.filename == null">
      <i class="fa fa-folder-open"></i>
    </span>
    <span *ngIf="match.item.filename != null">
      <i class="fa fa-file"></i>
    </span>
    <span>
      <span *ngFor="let site of match.item.hierarchy; index as i">
        {{site.label}} /
        <!-- <span *ngIf="i < (match.item.hierarchy.length -1)">/</span> -->
      </span>
    </span>
    <b>{{ match.item.label}}</b>
  </ng-container>
</ng-template>

<!-- Template for showing the hierarchy locations within a selected location -->
<ng-template #locations>
  <ng-container *ngFor="let type of types">
    <div class="row">
      <div class="col-md-12">
        <a (click)="onContentChange(type)">
          <h3>
            {{type.label.localizedValue}}(s)
            <i *ngIf="content === type.code" class="fa fa-caret-down"></i>
            <i *ngIf="content !== type.code" class="fa fa-caret-right"></i>
          </h3>
        </a>
        <div [collapse]="content !== type.code">
          <hr>
          <div class="list-group" *ngIf="content === type.code">
            <ng-container *ngIf="children.length > 0">
              <div *ngFor="let child of children; let i = index" [@fadeInOnEnter] class="list-group-item">
                <a [@fadeInOnEnter] (click)="handleHierarchyClick(child)">
                  <h5 style="word-break: break-all;">{{child.properties.displayLabel.localizedValue}}</h5>
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="children.length === 0">
              <span>
                <h4>No {{type.label.localizedValue}}(s) in this area.</h4>
              </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- Template for showing the sites within a selected location -->
<ng-template #sites>
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="margin-right: 10px;">
        <div class="col-sm-12" style="text-align: right; padding-top: 10px; padding-right: 0;">
          <a (click)="onFilterOpen()">
            Advanced filter
            <i class="fa" [ngClass]="{'fa-filter' : !hasFilter, 'fa-funnel-dollar': hasFilter}"></i>
          </a>
        </div>
      </div>

      <div class="list-group">

        <!-- If -->
        <div *ngIf="nodes.length < 1 && breadcrumbs.length === 0" [@fadeInOnEnter]
          style="padding: 20px;text-align: center;color: grey;">
          <span *ngIf="loadingSites">
            <h4>
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              Loading Sites
            </h4>
          </span>

          <span *ngIf="!loadingSites">
            <h4>No Sites in this area.</h4>
            <p>
              Zoom out to find sites in other areas of the map.
            </p>
          </span>
        </div>

        <!-- Else -->
        <div *ngIf="nodes.length < 1 && breadcrumbs.length > 0" [@fadeInOnEnter]
          style="padding: 20px;text-align: center;color: grey;">
          <h4>No data at this level.</h4>
          <p>
            Create data containers as part of the upload process.
          </p>
        </div>

        <div *ngFor="let node of nodes; let i = index" [@fadeInOnEnter] class="list-group-item">

          <!-- Two column layout -->
          <div [@fadeInOnEnter] style="border-left: solid 15px;" class="card card-default clickable"
            *ngIf="getMetadata(node).root" [ngClass]="{'active': hoverFeatureId === node.id}"
            (click)="select(node, null, $event)" (mouseenter)="onListEntityHover($event, node)"
            (mouseleave)="onListEntityHoverOff()">

            <!-- <div class="card-header">Header</div> -->
            <div class="card-body card-5-7">
              <div>
                <!-- <i class="fas fa-map-marker-alt" style="font-size: 50px;"></i> -->
                <h4
                  style="word-break: break-all; border-bottom-color:rgba(195, 195, 195, 0.3); border-bottom-style:inset; border-bottom-width: 2px; margin-bottom:10px; padding-bottom:10px;">
                  <!-- <a (click)="select(node, $event)"> -->
                  {{node.name}}
                  <!-- </a> -->
                </h4>
                <span>
                  <span><b>{{node.numberOfChildren}}</b> {{getMetadata(node).childLabel}}</span>
                  <span *ngIf="node.type !== 'folder'" class="pull-right">
                    <a class="fa fa-pencil-alt ico-edit" (click)="handleEdit(node, $event)" title="Edit"></a>
                    <a class="fa fa-trash-alt ico-remove" (click)="handleDelete(node, $event)" title="Delete"></a>
                  </span>
                </span>
              </div>
            </div>
            <!-- <div class="card-footer">Footer</div> -->
          </div>


          <!-- Single column card -->
          <div [@fadeInOnEnter] class="card card-default clickable" *ngIf="!getMetadata(node).root"
            (click)="select(node, null, $event)">
            <div class="card-body">
              <i (click)="handleExpand(node, $event)" class="fa fa-caret-left expand-arrow-ico pull-right"
                [ngClass]="{'fa-rotate-270':node.active}" style="font-size: 25px; padding: 0 5px"
                aria-hidden="true"></i>
              <a class="fa fa-pencil-alt ico-edit pull-right" style="font-size: 15px; padding: 5px 0px"
                (click)="handleEdit(node, $event)" title="Edit"></a>

              <h4 style="word-break: break-all;">{{node.name}}</h4>
              <p><b>{{node.numberOfChildren}}</b> {{getMetadata(node).childLabel}}</p>

              <div [collapse]="!node.active" class="list-group" style="margin-bottom: 0;">
                <div *ngFor="let child of node.children" (click)="select(child, node, $event)" class="list-group-item"
                  style="background-color: #ececec;border: solid 1px lightgrey;border-radius: 0;">
                  <!-- <a (click)="select(child, $event)"> -->
                  {{child.name}}
                  <!-- </a> -->
                  <span *ngIf="child.type !== 'folder'" class="pull-right button-column">
                    <a class="fa fa-pencil-alt ico-edit" (click)="handleEdit(child, $event)" title="Edit"></a>
                    <a class="fa fa-trash-alt ico-remove" (click)="handleDelete(child, $event)" title="Delete"></a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div *ngFor="let node of supportingData" class="list-group-item">
          <div [@fadeInOnEnter] class="card card-default">
            <div class="card-body">
              <h4 style="word-break: break-all;">Supporting Data</h4>
              <div class="list-group">
                <div class="list-group-item"
                  style="background-color: #ececec;border: solid 1px lightgrey;border-radius: 0;">
                  <a (click)="select(node, null, $event)">
                    {{node.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</ng-template>


<div id="navigator-header-container">
  <uasdm-header [title]="'Site Viewer'"></uasdm-header>
</div>

<div id="app-container" class="container-fluid" style="background: #f7f7f7;">

  <div class="row">
    <div id="navigator-left-sidebar" class="col-md-3 lw-inner-col">
      <ng-container *ngIf="panelType === 0">
        <!-- Search bar -->
        <div class="row">
          <div class="col-md-12">
            <div class="location-management-widget-section">
              <input class="form-control search-input" type="text" placeholder="Search..." [(ngModel)]="search"
                [typeaheadAsync]="true" [typeahead]="dataSource" (typeaheadOnSelect)="handleClick($event)"
                [typeaheadOptionsLimit]="10" [typeaheadItemTemplate]="bsItemTemplate" typeaheadOptionField="label"
                [ngModelOptions]="{standalone: true}" (keydown.enter)="$event.preventDefault()" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <!-- IF at Site level -->
            <ng-container *ngIf="current == null || current.type === 1">
              <div class="row">
                <div class="col-md-12">
                  <label>Organization</label>
                  <organization-field name="organization" [(value)]="organization" (valueChange)="onOrganizationChange()">
                  </organization-field>
                </div>
              </div>
              <div class="row" *ngIf="syncs != null && syncs.length > 0">
                <div class="col-md-12">
                  <label>Hierarchy</label>
                  <select [(ngModel)]="hierarchy.oid" name="sync" (change)="onHierarchyChange()">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let sync of syncs" [value]="sync.oid">
                      {{sync.displayLabel.localizedValue}}
                    </option>
                  </select>
                </div>
              </div>
            </ng-container>


            <!-- IF lower than Site -->
            <div class="row">
              <div class="col-md-12" style="height: 65px; overflow: auto;">
                <ul class="breadcrumb" style="background-color: white; vertical-align: middle; line-height:2">
                  <li>
                    <i class="fa fa-angle-left breadcrumb-back-ico" aria-hidden="true"></i>
                    <a (click)="back(null)" style="color: #007276;">IDM Sites</a>
                  </li>
                  <li *ngFor="let breadcrumb of breadcrumbs; last as isLast" [ngClass]="{'active':isLast}">
                    <ng-container *ngIf="breadcrumb.type === 0">
                      <a *ngIf="!isLast" (click)="back(breadcrumb)" style="color: #007276;">
                        {{breadcrumb.data.name}}</a>
                      <span *ngIf="isLast"> <b>{{breadcrumb.data.name}}</b> </span>
                    </ng-container>
                    <ng-container *ngIf="breadcrumb.type === 1">
                      <a *ngIf="!isLast" (click)="back(breadcrumb)" style="color: #007276;">
                        {{breadcrumb.data.properties.displayLabel.localizedValue}}
                      </a>
                      <span *ngIf="isLast">
                        <b> {{breadcrumb.data.properties.displayLabel.localizedValue}}</b>
                      </span>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

        <!-- <hr> -->

        <div class="row">
          <div class="col-md-12" style="background:#f7f7f7; padding:0; height:100%;">


            <div id="hierarchy-tree-container"
              class="location-management-widget-section location-management-list-container"
              [style]="(current != null && current.type === 0) ?  
                'height: calc(100vh - 257px);overflow-y: auto;overflow-x:hidden;' :
                (syncs.length === 0 ? 'height: calc(100vh - 325px);overflow-y: auto;overflow-x:hidden;' :
                'height: calc(100vh - 390px);overflow-y: auto;overflow-x:hidden;')">


              <div class="row" style="margin-left: 10px;">
                <div class="col-md-12">
                  <div class="row" *ngIf="current != null" style="margin-right: 10px;">
                    <div class="col-md-12">

                      <h3 *ngIf="current.type === 1">
                        {{current.data.properties.displayLabel.localizedValue}}
                      </h3>
                      <h3 *ngIf="current.type === 0">
                        {{current.metadata.label}} {{current.data.name}}
                      </h3>

                      <tabset *ngIf="current.type === 1" class="nav-full-width">
                        <tab heading="Overview">
                          <div class="form-group" *ngFor="let attribute of current.metadata.attributes ">
                            <label>
                              {{attribute.label.localizedValue}}
                            </label>
                            <container-element [ngSwitch]="attribute.type">
                              <input *ngSwitchCase="'local'" type="text" [name]="attribute.code"
                                [(ngModel)]="current.data.properties[attribute.code].localizedValue" disabled>
                              <input *ngSwitchDefault type="text" [name]="attribute.code"
                                [(ngModel)]="current.data.properties[attribute.code]" disabled>
                            </container-element>
                          </div>

                          <ng-container [ngTemplateOutlet]="locations">
                          </ng-container>
                        </tab>
                        <tab heading="Sites">
                          <ng-container [ngTemplateOutlet]="sites">
                          </ng-container>
                        </tab>
                        <tab heading="Products">
                          <product-panel [selection]="current" (toggleMapOrtho)="handleMapOrtho($event)"
                            (toggleMapDem)="handleMapDem($event)"></product-panel>
                        </tab>
                      </tabset>

                      <tabset *ngIf="current.type !== 1" class="nav-full-width">
                        <tab [heading]="current.metadata.childLabel">
                          <ng-container [ngTemplateOutlet]="sites">
                          </ng-container>
                        </tab>
                        <tab heading="Products">
                          <product-panel [selection]="current" (toggleMapOrtho)="handleMapOrtho($event)"
                            (toggleMapDem)="handleMapDem($event)"></product-panel>
                        </tab>
                      </tabset>

                    </div>
                  </div>

                  <ng-container *ngIf="current == null">
                    <ng-container [ngTemplateOutlet]="locations"
                      *ngIf="hierarchy.oid != null && hierarchy.oid.length > 0">
                    </ng-container>

                    <ng-container *ngIf="hierarchy.oid == null || hierarchy.oid.length === 0">
                      <tabset class="nav-full-width">
                        <tab heading="Sites">
                          <ng-container [ngTemplateOutlet]="sites">
                          </ng-container>
                        </tab>
                      </tabset>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>

          </div>
        </div>


        <footer class="sidebar-footer">
          <div class="row" *ngIf="current != null && current.type === 0" style="background:white;">
            <div class="col-md-12" style="text-align: center;padding: 10px;border-top: 1px solid lightgrey;">
              <button (click)="handleCreateCollection()" class="btn btn-primary">Create Collection</button>
            </div>
          </div>
          <div class="row" *ngIf="current == null || current.type === 1" style="background:white;">
            <div class="col-md-12" style="text-align: center;padding: 10px;border-top: 1px solid lightgrey;">
              <button (click)="handleCreate(null,null)" class="btn btn-primary">Add new site</button>
            </div>
          </div>
        </footer>
      </ng-container>

      <ng-container *ngIf="panelType === 1">
        <div id="hierarchy-tree-container" class="location-management-widget-section location-management-list-container"
          style="height: calc(100vh - 50px);overflow-y: auto;overflow-x:hidden;">

          <layer-panel [layer]="stacLayer" [bounds]="bounds" (confirm)="handleStacConfirm($event)"
            (cancel)="handleStacCancel()">
          </layer-panel>
        </div>
      </ng-container>


    </div>
    <div class="col-md-9" id="site-explorer-map">
      <div class="row">
        <article style="position: absolute;z-index: 5;margin-left: 100px;margin-top: 10px;">
          <alert *ngIf="existingTask != null" type="danger" [dismissible]="false">
            <strong>Unfinished upload</strong> detected on file <strong>{{existingTask.filename}}</strong> for
            Collection <strong>{{existingTask.task.collectionLabel}}</strong>. <a (click)="handleExistingTask()">Click
              to resolve</a>
          </alert>

          <div class="idm-toast" *ngFor="let task of tasks; let idx = index">
            <alert *ngIf="task.status === 'Complete' && task.actions.length === 0" type="success" [dismissible]="true"
              (onClosed)="handleCloseToast(idx)">
              <strong>Upload {{task.status}}</strong> for {{task.collectionLabel}}. <a
                (click)="handleViewSite(task.collection)">Goto the collection view</a>
            </alert>
            <alert *ngIf="task.status === 'Complete' && task.actions.length !== 0" type="warning" [dismissible]="true"
              (onClosed)="handleCloseToast(idx)">
              <strong>Upload {{task.status}}</strong> for {{task.collectionLabel}}. Task completed with warnings. See
              the <a routerLink="/site/tasks">task page</a> for more details.
            </alert>
            <alert *ngIf="task.status === 'Failed'" type="danger" [dismissible]="true"
              (onClosed)="handleCloseToast(idx)">
              <strong>Upload {{task.status}}</strong> for {{task.collectionLabel}}. Task completed with errors. See the
              <a routerLink="/site/tasks">task page</a> for more details.
            </alert>
            <alert *ngIf="task.status !== 'Failed' && task.status !== 'Complete'" type="info" [dismissible]="true"
              (onClosed)="handleCloseToast(idx)">
              <strong>Upload {{task.status}}</strong> for {{task.collectionLabel}}.
            </alert>
          </div>
        </article>


        <article class="base-layer-panel">

          <div class="layer-toggle" style="cursor: pointer;background:#fff;padding:8px;border-radius:4px;"
            (mouseenter)="baselayerIconHover = true" (mouseleave)="baselayerIconHover = false">
            <i class="fas fa-layer-group" *ngIf="!baselayerIconHover"
              style="vertical-align:middle; font-size: 18px;"></i>
            <div *ngIf="baselayerIconHover" style="width: 200px;">

              <div class="row-form">
                <div class="list-group">

                  <h4>Layers</h4>

                  <!--                   <span *ngIf="stacLayers.length === 0" style="font-style: italic;color:grey;">No custom layers</span> -->

                  <div *ngFor="let layer of stacLayers" class="list-group-item" style="padding:0;height:30px;">
                    <boolean-field [value]="layer.active" (valueChange)="handleToggleStacLayer(layer)" label=""
                      [inline]="true">
                    </boolean-field>
                    <span style="padding-top: 2px;">
                      <label style="padding-left: 5px;">{{layer.layerName}}</label>
                      <span class="pull-right">
                        <a class="fa fa-pencil-alt ico-edit" (click)="handleStacLayer(layer)"
                          [title]="'Edit ' + layer.layerName"></a>
                        <a class="fa fa-trash-alt ico-remove" (click)="handleRemoveStacLayer(layer)"
                          [title]="'Remove ' + layer.layerName"></a>
                        <a class="fa fa-eye" (click)="handleStacZoom(layer)" [title]="'Zoom to ' + layer.layerName"></a>
                      </span>
                    </span>

                  </div>
                </div>
              </div>
              <div class="row-form">
                <a class="fa fa-plus" (click)="handleStacLayer()" title="Create a layer">&nbsp;Create layer</a>
              </div>

              <ng-container *ngIf="hierarchy.oid != null && hierarchy.oid.length > 0">
                <hr style="margin-top:10px;margin-bottom:10px;">

                <div class="list-group-item" style="padding:0;height:30px;">
                  <boolean-field [value]="hierarchy.visible" (valueChange)="handleVisibilityChange()" label=""
                    [inline]="true">
                  </boolean-field>
                  <span style="padding-top: 2px;">
                    <label style="padding-left: 5px;">{{hierarchy.label}}</label>
                  </span>

                </div>

              </ng-container>

              <hr style="margin-top:10px;margin-bottom:10px;">

              <h4>Basemaps</h4>
              <div class="row-form" *ngFor="let baseLayer of baseLayers">
                <input class="layer-toggle-input" type='radio' name='rtoggle' [value]='baseLayer.id'
                  [checked]="baseLayer.selected" (change)="handleStyle(baseLayer)">
                <label class="layer-toggle-label" style="padding-left: 5px;">{{baseLayer.label}}</label>
              </div>
            </div>
          </div>
        </article>

        <div id="mousemove-panel" class="mapboxgl-ctrl-bottom-right"
          style="background: rgba(255, 255, 255, .5); right: 0; padding: 0 5px 0 5px;bottom: 0px;"></div>

        <div id="map" class="map-view-port"></div>
      </div>
    </div>
  </div>
</div>