/**
 *
 */

#app-container {
    background: #f7f7f7;
}

#tasks-container {
    padding: 20px;
    background: white;
    border-radius: 6px;
}

.task-container{
    border-bottom: solid lightgrey 1px;
    padding: 10px;
    margin-bottom: 20px;
}

.card-body{
    background: white;
}
.card-body.collapse{
    padding: 0;
}
.card-body.collapse.in.show{
    padding: 20px;
    max-height: fit-content;
}

.panel-group {
    margin-bottom: 0;
}

.card-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.card-header {
  background-color: #e9e9e9;
  margin-top: 20px;
}

.card-header.card-header-light {
  background: none;
  border-bottom: 2px solid lightgrey;
  padding-left: 0;
  padding-right: 0;
}

.card-header.card-header-light .card-title {
    display: inline-block;
}
.card-header.card-header-light .heading-status-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.card-header.card-header-light .heading-status-label .success {
    color: #6CB46F;
}
.card-header.card-header-light .heading-status-label .warning {
    color: #2C88CB;
}
.card-header.card-header-light .heading-status-label .pending {
    color: #FF8C42;
}
.card-header.card-header-light .heading-status-label .fail {
    color: #BF1E1E;
}

b.success {
    color: #6CB46F;
}
b.pending {
    color: #FF8C42;
}
b.fail {
    color: #BF1E1E;
}

.nav-tabs > li a {
    color: grey;
}
.nav-tabs > li.active a {
    color: #007276;
}
.nav-tabs > li > a:hover {
  background-color: #e4e4e4;
  cursor: pointer;
  color: #007276;
}

