<div *ngIf="invite != null" class="modal-body">

  <div class="modal-title-container">
    <h3>Invite a User</h3>
  </div>
  
  <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
    <div class="form-group">
      <label>
        <localize key="account.email"></localize>
      </label>
      <input type="text" [(ngModel)]="invite.email" name="email" required #aemail="ngModel" email>
      <div *ngIf="aemail.errors?.email && invite.email && invite.email.length > 0" class="inline-error-message">
        <localize key="account.email.validation"></localize>
      </div>
    </div>
    <div class="form-group">
      <label>
        <label>Bureau</label>
      </label>
      <select [(ngModel)]="invite.bureau" name="bureau">
        <option></option>
        <option *ngFor="let option of invite.bureaus" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div *ngFor="let group of invite.groups">
      <div>
        <h3>
          <localize [key]="'com.runwaysdk.ui.userstable.UsersTable.' + group.name"></localize>
        </h3>
      </div>
      <hr>
      <div class="form-group">
        <div *ngFor="let role of group.roles">
          <boolean-field [(value)]="role.assigned" [label]="role.displayLabel"></boolean-field>
        </div>
      </div>
    </div>

    <div class="btn-holder" style="text-align: right;">
      <input type="button" [value]="'dataset.cancel' | localize" class="btn btn-default" (click)="cancel()" />
      <input type="submit" [value]="'dataset.submit' | localize" class="btn btn-primary" [disabled]="!(form.valid)" />
    </div>
  </form>
</div>
