<!--



-->
<div>
<!--     <uasdm-header></uasdm-header> -->

<!--     <div id="app-container" class="container"> -->

        <h3>
            Manage Accounts
<!--             <localize key="accounts.title"></localize> -->
        </h3>
        <div *ngIf="!requireKeycloakLogin" class="row">
            <div class="col-md-12">
                <button (click)="inviteUsers()" class="btn btn-primary float-end" style="margin:10px 0;">Invite User</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <generic-table *ngIf="config != null" [cols]="cols" [config]="config" [refresh]="refresh" (click)="onClick($event)"></generic-table>
                <button *ngIf="isAdmin" (click)="uploadUsers()" class="btn btn-primary pull-left" style="margin:10px 0; margin-top: -40px;">Upload Users</button>
                <button *ngIf="isAdmin" (click)="exportUsers()" class="btn btn-primary pull-left" style="margin:10px 0; margin-top: -40px;">Export Users</button>
            </div>
        </div>
<!--     </div> -->
</div>