<!--



-->
<div>
<!--     <uasdm-header></uasdm-header> -->

<!--     <div id="app-container" class="container"> -->

        <h3>
            Manage Accounts
<!--             <localize key="accounts.title"></localize> -->
        </h3>
        <div *ngIf="!requireKeycloakLogin" class="row">
            <div class="col-md-12">
                <button (click)="inviteUsers()" class="btn btn-primary pull-right" style="margin:10px 0;">Invite User</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <generic-table *ngIf="config != null" [cols]="cols" [config]="config" [refresh]="refresh" (click)="onClick($event)"></generic-table>
            </div>
        </div>
<!--     </div> -->
</div>