<ng-template #bsItemTemplate let-match="match" let-query="query">
    <b>{{ match.item.label}} - {{ match.item.total}}</b>
</ng-template>

<form #form="ngForm">
    <ng-container *ngIf="viewMode === 0">

        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <label>Layer Name</label>
                <input type="text" placeholder="Layer name..." [(ngModel)]="layer.layerName" name="layerName" required
                    [disabled]="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <label>Start Date</label>
                <input type="date" [(ngModel)]="layer.startDate" name="startDate" style="width: 100%;"
                    [disabled]="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <label>End Date</label>
                <input type="date" class="form-element" [(ngModel)]="layer.endDate" name="endDate" style="width: 100%;"
                    [disabled]="readonly" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="padding-top: 10px;">
                <label>Search</label>
                <input class="form-control search-input" type="text" name="search" placeholder="Search for products..."
                    autocomplete="off" [(ngModel)]="search" [typeaheadAsync]="true" [typeahead]="dataSource"
                    (typeaheadOnSelect)="handleClick($event)" [typeaheadOptionsLimit]="10" [typeaheadMinLength]="2"
                    [typeaheadItemTemplate]="bsItemTemplate" typeaheadOptionField="text"
                    (keydown.enter)="$event.preventDefault()" [disabled]="readonly" />
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <label>Filters</label>
            </div>
        </div>
        <ng-container *ngFor="let filter of layer.filters">
            <div *ngIf="filter.field !== 'datetime'" class="row">
                <div class="col-md-12">
                    {{filter.label}} contains {{filter.value}}
                    <span class="float-right" *ngIf="!readonly">
                        <a class="fa fa-trash-alt ico-remove" (click)="handleRemove(filter)" title="Remove filter"></a>
                    </span>
                </div>
            </div>
        </ng-container>

    </ng-container>
    <ng-container *ngIf="page != null">
        <div class="row">
            <div class="col-md-12" style="background:#f7f7f7; padding:0; height:100%;">
                <div class="list-group">

                    <div *ngFor="let result of page.resultSet | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }"
                        class="list-group-item">
                        <div class="card card-default">
                            <div class="card-body">
                                <h5 class="card-title" style="color:#a0a0a0">
                                    {{result.properties.title}}
                                </h5>

                                <div>Date: <label>{{result.properties.datetime}}</label></div>

                                <div class="card-left" style="width:calc(100% - 13em); padding:0px;">
                                    <span class="thumbnail">
	                                    <img style="max-height: 110px"
	                                        [src]="thumbnails[result.id] != null ? (thumbnails[result.id] | safeHtml) : (context + '/net/geoprism/images/thumbnail-default.png')"
	                                        alt="Image">
                                    </span>
                                </div>
                                <div class="card-right" style="width: 13em;">
                                    <ul style="list-style: none;padding: 0;">
                                        <li style="padding: 3px 0 3px 0; min-width:6em;">
                                            Platform: <label>{{result.properties.platform}}</label>
                                        </li>
                                        <li style="padding: 3px 0 3px 0; min-width:6em;">
                                            Sensor: <label>{{result.properties.sensor}}</label>
                                        </li>
                                        <li style="padding: 3px 0 3px 0; min-width:6em;">
                                            Asset
                                            <select [(ngModel)]="result.asset" [name]="result.id + '-asset'">
                                                <ng-container *ngFor="let asset of result.assets | keyvalue">
                                                    <option
                                                        *ngIf="asset.value.type === 'image/tiff; application=geotiff; profile=cloud-optimized'"
                                                        [value]="asset.key">
                                                        {{asset.key}}
                                                    </option>
                                                </ng-container>
                                            </select>
                                        </li>
                                        <li style="padding: 3px 0 3px 0; min-width:6em;">
                                            <boolean-field [value]="result.enabled"
                                                (valueChange)="handleToggleItem(result)" label="Enabled">
                                            </boolean-field>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pagination-controls (pageChange)="onPageChange($event)" [maxSize]="10"></pagination-controls>
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-holder" style="text-align: right;padding: 0 10px 10px 0;">
                <button type="button" (click)="close()" class="btn btn-default" role="button" aria-disabled="false"
                    style="padding: 4px 18px;">
                    <span class="ui-button-text">Close</span>
                </button>

                <button *ngIf="viewMode === 0" type="button btn btn-primary" [disabled]="form.invalid"
                    class="btn btn-primary" (click)="handleSubmit()">
                    <i class="icon-upload icon-white"></i>
                    Search for products...
                </button>

                <button *ngIf="viewMode !== 0" type="button btn btn-primary"
                    [disabled]="form.invalid || layer.items.length === 0" class="btn btn-primary"
                    (click)="handleSubmit()">
                    <i class="icon-upload icon-white"></i>
                    {{readonly ? 'Modify layer' : 'Create layer'}}
                </button>
            </div>
        </div>
    </div>
</form>