<!--



-->
<ng-container>
    <div class="row">
        <div class="col-sm-12">
            <div style="padding:10px 15px;">
                <label class="form-label">
                    <label class="form-label">Order available products</label>
                </label>
                <select [(ngModel)]="sortField" name="sortField" (change)="refresh()">
                    <option></option>
                    <option *ngFor="let option of fields" [value]="option.value">{{option.label}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="list-group">

        <div *ngIf="views.length < 1" [@fadeInOnEnter] style="padding: 10px;text-align: center;color: grey;">
            <h4>
                <span *ngIf="loading">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Loading Products
                </span>
                <p *ngIf="!loading">No data found</p>
            </h4>
        </div>

        <div *ngFor="let view of views" class="list-group-item" style="padding-left: 3px; padding-right: 3px;">
            <div class="card card-default" [@fadeInOnEnter] [@fadeOutOnLeave]>
                <div class="card-body">
                    <h5 class="card-title" style="color:#a0a0a0">
                        <span *ngIf="view.componentType !== 'collection'">
                            {{view.product.productName}}
                        </span>
                        <span *ngIf="view.componentType === 'collection'">
                            {{view.product.name}}
                        </span>
                    </h5>

                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb" style="margin: 5px 0 5px 0;">
                            <li class="breadcrumb-item" *ngFor="let entity of view.product.entities">
                                <span> {{entity.name}}</span>
                            </li>
                        </ol>
                    </nav>

                    <div *ngIf="view.componentType === 'collection'" style="padding:10px 15px;">
                        <label class="form-label">
                            <label class="form-label">Versions</label>
                        </label>
                        <select [(ngModel)]="view.productId" name="productId" (change)="setVersion(view)">
                            <option *ngFor="let product of view.products" [value]="product.id">{{product.productName}}
                            </option>
                        </select>
                    </div>


                    <div *ngIf="thumbnails[view.product.id] != null">
                        <a class="thumbnail" (click)="previewImage(view.product)">
                            <img class="mx-auto d-block img-thumbnail" [src]="thumbnails[view.product.id] | safeHtml"
                                (error)="getDefaultImgURL($event)" alt="Image">
                        </a>
                    </div>
                    <div class="product-actions product-actions--compact d-flex flex-wrap align-items-center">
					  <button class="product-action"
					          type="button"
					          [disabled]="!hasOrthoLayer(view.product)"
					          (click)="handleMapIt(view.product)"
					          title="View the Orthomosaic generated from the raw data using ODM.">
					    <i class="fa product-icon" [ngClass]="{'fa-check': view.product.orthoMapped, 'fa-globe': !view.product.orthoMapped}"></i>
					    <span>Aerial</span>
					  </button>
					
					  <button class="product-action"
					          type="button"
					          [disabled]="!hasDemLayer(view.product)"
					          (click)="handleMapDem(view.product)"
					          title="View the DEM hillshade.">
					    <i class="fa product-icon" [ngClass]="{'fa-check': view.product.demMapped, 'fa-industry': !view.product.demMapped}"></i>
					    <span>Hillshade</span>
					  </button>
					
					  <button class="product-action"
					          type="button"
					          [disabled]="!view.product.hasPointcloud"
					          (click)="handlePointcloud(view.product)"
					          title="View the 3D pointcloud for this product using the Potree viewer.">
					    <i class="fa fa-cube product-icon"></i>
					    <span>3D</span>
					  </button>
					
					  <button class="product-action" type="button" (click)="handleGetInfo(view.product)">
					    <i class="fa fa-info-circle product-icon"></i><span>Get Info</span>
					  </button>
					
					  <button class="product-action" type="button" *ngIf="isAdmin" (click)="handleToggleLock(view.product)">
					    <i class="fa product-icon" [ngClass]="{'fa-lock': view.product.locked, 'fa-lock-open': !view.product.locked}"></i>
					    <span>{{ view.product.locked ? 'Unlock' : 'Lock' }}</span>
					  </button>
					
					  <button class="product-action danger" type="button"
					          *ngIf="view.product.removable && !view.product.locked && !view.product.published"
					          (click)="handleDelete(view, $event)">
					    <i class="fa fa-trash-alt product-icon"></i><span>Delete</span>
					  </button>
					
					  <button class="product-action" type="button"
					          *ngIf="!view.product.locked && !view.product.published"
					          (click)="handleTogglePublish(view.product)">
					    <i class="fa fa-arrow-alt-circle-up product-icon"></i><span>Publish</span>
					  </button>
					
					  <button class="product-action" type="button"
					          *ngIf="!view.product.locked && view.product.published"
					          (click)="handleTogglePublish(view.product)">
					    <i class="fa fa-arrow-alt-circle-down product-icon"></i><span>Unpublish</span>
					  </button>
					
					  <button class="product-action" type="button" *ngIf="view.product.published"
					          (click)="clipboardPublicStacUrl(view.product, clipboardPopover)">
					    <i class="fa fa-link product-icon" [id]="'PublicStacUrl-' + view.product.id"
					       [popover]="'Copied to clipboard!'" triggers="" #clipboardPopover="bs-popover" placement="top"></i>
					    <span>Share</span>
					  </button>
					</div>

                </div>
            </div>
        </div>
    </div>
</ng-container>