<!--



-->
<!-- HEADER AND NAVBAR -->
<header>
  <nav class="navbar navbar-grey p-0">
    <div class="container-fluid">
      <a class="navbar-brand p-0" href="#" title="Home">
        <img style="width: 40px; height: 40px;" [src]="context + 'api/logo/view?oid=logo'"
          class="d-inline-block align-text-top" />
      </a>
      <!-- <p class="navbar-brand" style="margin: 0;" >{{title}}</p> -->

      <span routerLink="/site/help" class="navbar-text header-help">
        Need some help?
      </span>

      <span class="navbar-text" style="right: 50px; position: absolute;">
        Logged in as <b style="color: white;">{{userName}}</b>
      </span>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


        <li dropdown class="nav-item" container="body" placement="bottom right" >
          <a id="menu-button" class="nav-link" role="button" dropdownToggle>
            <i style="font-size: 23px;" class="fa fa-bars"></i>
          </a>

          <ul id="menu-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
            aria-labelledby="menu-button">
            <li role="menuitem">
              <a id="account-btn" class="dropdown-item user-command-link" (click)="account()">Account</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/site/tasks" routerLinkActive="active">Workflow Tasks</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/site/viewer" routerLinkActive="active">Site Viewer</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/site/report" routerLinkActive="active">Report</a>
            </li>

            <hr *ngIf="admin">

            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/admin/accounts" routerLinkActive="active"> -->
            <!--                 <i></i> -->
            <!--                 <localize key="accounts.link"></localize> -->
            <!--               </a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/admin/session-events" routerLinkActive="active"> -->
            <!--                 <i></i> -->
            <!--                 Session event log -->
            <!--               </a> -->
            <!--             </li>             -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/admin/logos" routerLinkActive="active"> -->
            <!--                 <i></i> -->
            <!--                 <localize key="Icons"></localize> -->
            <!--               </a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/admin/email" routerLinkActive="active"> -->
            <!--                 <i></i> -->
            <!--                 <localize key="email.link"></localize> -->
            <!--               </a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/site/platforms" routerLinkActive="active">Platforms</a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/site/platform-manufacturers" routerLinkActive="active">Platform Manufacturers</a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/site/platform-types" routerLinkActive="active">Platform Types</a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/site/sensors" routerLinkActive="active">Sensors</a> -->
            <!--             </li> -->
            <!--             <li *ngIf="admin" role="menuitem"> -->
            <!--               <a class="dropdown-item" routerLink="/site/sensor-types" routerLinkActive="active">Sensor Types</a> -->
            <!--             </li> -->
            <li *ngIf="admin" role="menuitem">
              <a class="dropdown-item" routerLink="/site/uavs" routerLinkActive="active">UAV</a>
            </li>
            <li *ngIf="admin" role="menuitem">
              <a class="dropdown-item" routerLink="/site/equipment" routerLinkActive="active">Equipment</a>
            </li>

            <li *ngIf="admin" role="menuitem">
              <a class="dropdown-item" routerLink="/admin/system-configuration" routerLinkActive="active">
                <i></i>System Configuration
              </a>
            </li>
            <li *ngIf="admin" role="menuitem">
              <a class="dropdown-item" routerLink="/admin/system-info" routerLinkActive="active">
                <i></i>System Info
              </a>
            </li>

            <hr>
            <li role="menuitem">
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>


    </div>
  </nav>
</header>