@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~fine-uploader/fine-uploader/fine-uploader-new.min.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';

body {
  overflow-y: auto;
}

#logo {
    margin-left: 50px;
    width: 160px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tree {
  height: calc(100vh - 291px);
}

.map-view-port {
  height: calc(100vh - 144px); 
//   width: calc(75vw - 10px);
//   margin: 0;
}

.base-layer-panel{ 
  position:absolute; 
  top: 10px; 
  left: 10px; 
  z-index:2;
  padding:5px;
}

.site-explorer-list {
  padding: 20px;
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}

.cancel-layer-panel {
  position:absolute; 
  top: 110px; 
  right: 7px; 
  z-index:2;
}

.node-content-wrapper, .tree-children {
  position: relative;
  font-size: 18px;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}




.node-content-wrapper{
  //background-color: lightgrey;
}
.node-content-wrapper:hover {
    background: #f2f2f2;
}
.node-content-wrapper-focused {
    background: lightgrey;
}



.tree-children {
    padding-left: 29px !important;
}

tree-node-expander{
  display: none !important;
}


.dropdown-menu {
  font-size: 18px;
}

.panel-heading:hover {
  background-color: #e0e0e0;
}


.breadcrumb {
  padding: 2px;
}

.qq-upload-status-text-selector.qq-upload-status-text {
  float: right;
}

button.create-site-btn {
    margin-bottom: 10px;
    margin-top: 10px;

}

.error-modal{
    color: #a16969;
    font-size: 20px;
    padding: 50px 10px 38px 10px;
    border: solid 1px;
    background: rgba(255,255,255,.5);
}
.error-modal button {
    float: right;
}

#image-panel {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.9);
    z-index: 999;
    bottom: 0;
    border-top: solid 1px lightgrey;
    // text-align: right;
}

#image-list-container {
    overflow-y: auto;
    height: 300px;
    border-top: solid 1px lightgrey;
}
#image-list-container > .list-group {
    margin: 0;
}
#image-list-container .list-group .list-group-item {
    background-color: rgba(255,255,255,.5);
}

.image-thumbnail {
    width: 300px;
    height: 150px;
    border-right: 2px solid lightgrey;
}

.media {
    padding-left: 15px;
}
.media:first-child {
    margin-top: 15px;
}

.media .media-body {
    vertical-align: middle;
}

.image-preview {
    width: 100%;
    max-width: 900px;
    // height: 450px;
}

.image-preview-modal {
    // width: 90%;
    // height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}
.image-preview-modal > .modal-content {
    width: 100%;
    // height: 100%;
}

.image-preview-container {
    text-align: right;
}

.image-preview-container > .fa.fa-times.btn.btn-close {
        margin-right: -15px;
    margin-top: -15px;
}

.image-container {
    // margin-top: 20px;
}