<div *ngIf="entity != null" class="modal-body">
  <div *ngIf="message != null" class="error-container">
    <div class="label-holder">
      <strong>Error</strong>
    </div>
    <div class="holder">
      <div>
        <p class="error-message">{{message}}</p>
      </div>
    </div>
  </div>
  <form #ngForm="ngForm">
    <div *ngFor="let attribute of attributes">
      <div *ngIf="attribute.condition == null || evaluate(attribute.condition)" class="form-group">
        <div *ngIf="attribute.type === 'text'">
          <label>{{attribute.label}}</label>
          <input [(ngModel)]="entity[attribute.name]" [name]="attribute.name" type="input" class="form-control" [placeholder]="attribute.label" [required]="attribute.required" />
        </div>
        <div *ngIf="attribute.type === 'list'">
          <label>{{attribute.label}}</label>
          <select [(ngModel)]="entity[attribute.name]" [name]="attribute.name" type="input" class="form-control" [required]="attribute.required">
            <option></option>
            <option *ngFor="let option of attribute.options" [value]="option.value">{{option.label}}</option>
          </select>
        </div>
        <div *ngIf="attribute.type === 'text-area'">
          <label>{{attribute.label}}</label>
          <textarea [(ngModel)]="entity[attribute.name]" [name]="attribute.name" class="form-control" [required]="attribute.required">
          </textarea>
        </div>
      </div>
    </div>
    <div class="btn-holder" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()" [disabled]="!ngForm.valid">Ok</button>
    </div>
  </form>
</div>
