<!--



-->
<div>
  <uasdm-header></uasdm-header>

  <div id="app-container" class="container">
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong>Error</strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <div class="modal-title-container">
      <h3>Sensor</h3>
    </div>

    <form #ngForm="ngForm">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input [(ngModel)]="sensor.name" name="name" type="input" class="form-control" placeholder="Name"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea [(ngModel)]="sensor.description" name="description" type="input" class="form-control"
          [disabled]="mode === 'READ'" placeholder="Description">
        </textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Model</label>
        <input [(ngModel)]="sensor.model" name="model" type="input" class="form-control" placeholder="Model"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Type</label>
        <select [(ngModel)]="sensor.sensorTypeOid" name="sensorType" type="input" class="form-control"
          [disabled]="mode === 'READ'" required>
          <option></option>
          <option *ngFor="let type of types" [value]="type.oid">{{type.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Valid Collection Formats</label>

        <span *ngIf="!sensor.collectionFormats || sensor.collectionFormats.length === 0"
              class="error-message">
          A sensor requires at least one valid collection format
        </span>

        <div *ngFor="let format of COLLECTION_FORMATS">
          <boolean-field
            [value]="sensor.collectionFormats && sensor.collectionFormats.indexOf(format.value) !== -1"
            [label]="format.label"
            (valueChange)="updateSelectedCollectionFormat(format.value, $event)"
            [disabled]="mode === 'READ'">
          </boolean-field>
        </div>
      </div>
      <div *ngIf="mode === 'READ'">
        <span *ngFor="let fmt of sensor.collectionFormats; let last = last">
          {{ getFormatLabel(fmt) }}<span *ngIf="!last">, </span>
        </span>
      </div>
      <div class="form-group">
        <boolean-field [value]="sensor.hasGeologger" (valueChange)="sensor.hasGeologger = $event"
          [label]="'Has GeoLogger'" [disabled]="mode === 'READ'"></boolean-field>
      </div>
      <div class="form-group">
        <boolean-field [value]="sensor.highResolution" (valueChange)="sensor.highResolution = $event"
          [label]="'High Resolution'" [disabled]="mode === 'READ'"></boolean-field>
      </div>
      <div class="form-group">
        <label class="form-label">Pixel Size Width</label>
        <input [(ngModel)]="sensor.pixelSizeWidth" name="pixelSizeWidth" type="number" step="0" class="form-control"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Pixel Size Height</label>
        <input [(ngModel)]="sensor.pixelSizeHeight" name="pixelSizeHeight" type="number" step="0" class="form-control"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Sensor Width</label> (millimeters)
        <input [(ngModel)]="sensor.sensorWidth" name="sensorWidth" type="number" step="0" class="form-control"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Sensor Height</label> (millimeters)
        <input [(ngModel)]="sensor.sensorHeight" name="sensorHeight" type="number" step="0" class="form-control"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Focal Length</label> (millimeters)
        <input [(ngModel)]="sensor.focalLength" name="focalLength" type="number" class="form-control"
          [disabled]="mode === 'READ'" required />
      </div>
      <div class="form-group">
        <label class="form-label">Wave Length</label>
        <span *ngIf="sensor.wavelengths.length === 0" class="error-message">
          A sensor requires at least one Wave Length
        </span>
        <div *ngFor="let wavelength of wavelengths">
          <boolean-field [value]="sensor.wavelengths && (-1 !== sensor.wavelengths.indexOf(wavelength.oid))"
            [label]="wavelength.name" (valueChange)="updateSelectedWaveLength(wavelength, $event)"
            [disabled]="mode === 'READ'"></boolean-field>
        </div>
      </div>
      <div *ngIf="mode === 'READ' && sensor.platforms != null && sensor.platforms.length > 0" class="form-group">
        <label class="form-label">Used on Platforms</label>
        <ul>
          <li *ngFor="let platform of sensor.platforms">
            <a [routerLink]="['/site/platform', platform.oid]">{{platform.name}}</a>
          </li>
        </ul>
      </div>

      <div *ngIf="isAdmin" class="form-group form-actions"> <!-- Change class to 'sticky-actions' for a floating button-->
        <div style="text-align: right;">
          <ng-container *ngIf="mode === 'WRITE'">
            <button *ngIf="!newInstance" type="button" class="btn btn-default" (click)="handleOnCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="handleOnSubmit()"
              [disabled]="!ngForm.valid || sensor.wavelengths.length === 0 || sensor.collectionFormats.length === 0">Apply</button>
          </ng-container>
          <ng-container *ngIf="mode === 'READ'">
            <button type="submit" class="btn btn-primary" (click)="handleOnEdit()">Edit</button>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>