<div class="list-group">

    <div *ngIf="products.length < 1" [@fadeInOnEnter] style="padding: 10px;text-align: center;color: grey;">
        <h4>No data found</h4>
    </div>

    <div *ngFor="let product of products" class="list-group-item">
        <div class="card card-default" [@fadeInOnEnter] [@fadeOutOnLeave]>
            <div class="card-body card-8-4">
                <h5 class="card-title" style="color:#a0a0a0">
                    {{product.name}}
                </h5>

                <ul class="breadcrumb" style="margin: 5px 0 5px 0;">
                    <li *ngFor="let entity of product.entities">
                        <span> {{entity.name}} </span>
                    </li>
                </ul>

                <div class="card-left">
                    
                    <!-- <img src="https://via.placeholder.com/150x75" class="img-responsive"> -->

                    <div *ngIf="thumbnails[product.id] != null">
                        <a class="thumbnail" (click)="previewImage(product)">
                            <img class="" [src]="thumbnails[product.id] | safeHtml" (error)="getDefaultImgURL($event)" alt="Image">
                        </a>
                    </div>
                </div>
                <div class="card-right" style="padding-left:0px;">
                    <ul style="list-style: none;padding: 0;">
                        <li style="padding: 3px 0 3px 0; min-width:6em;">
                            <a class="fa fa-globe" aria-hidden="true" [ngClass]="{'active': product.orthoMapped}" (click)="handleMapIt(product)" title="Show on map">Aerial</a>
                            <i *ngIf="product.orthoMapped" [@bounceInOnEnter] [@bounceOutOnLeave] class="fas fa-check" style="color: #007276;float: right;vertical-align: middle;line-height: 20px;"></i>
                        </li>
                        <li style="padding: 3px 0 3px 0; min-width:7.2em;">
                            <a class="fa fa-industry" aria-hidden="true" [ngClass]="{'active': product.demMapped}" (click)="handleMapDem(product)" title="Hillshade">Hillshade</a>
                            <i *ngIf="product.demMapped" [@bounceInOnEnter] [@bounceOutOnLeave] class="fas fa-check" style="color: #007276;float: right;vertical-align: middle;line-height: 20px;"></i>
                        </li>
                        <li style="padding: 3px 0 3px 0;">
                            <a class="fa fa-cube" aria-hidden="true" [ngClass]="{'active': false}" (click)="handlePointcloud(product)" title="3D">3D</a>
                        </li>
                        <li style="padding: 3px 0 3px 0;">
                            <a class="fa fa-info-circle" (click)="handleGetInfo(product)" title="See details">Get Info</a>
                        </li>
                        <li style="padding: 3px 0 3px 0;">
                            <a class="fa fa-trash-alt" (click)="handleDelete(product, $event)" title="Delete">Delete</a>
                        </li>
                        <li *ngIf="product.published" style="padding: 3px 0 3px 0;">
                            <a class="fa fa-arrow-alt-circle-down" (click)="handleTogglePublish(product)" title="Unpublish">Unpublish</a>
                        </li>
                        <li *ngIf="!product.published" style="padding: 3px 0 3px 0;">
                            <a class="fa fa-arrow-alt-circle-up" (click)="handleTogglePublish(product)" title="Publish">Publish</a>
                        </li>
                    </ul>             
                </div>
            </div>
        </div>
    </div>
</div>