<div class="panel-group">
  <div class="panel panel-default" style="background: none;border: none;">
    <div class="panel-heading panel-heading-light clickable" style="margin-top: 20px;">
      <h4 class="panel-title">
        <a data-toggle="collapse" (click)="showProcess = !showProcess" [attr.aria-controls]="'task-group-panel-' + groupTypeId">
          <h4>{{taskCategory}}</h4>
        </a>
      </h4>
      <span class="heading-status-label pull-right">Current status: <span
          [ngClass]="{'success':taskGroupType.status === 'Complete', 'warning':taskGroupType.status  === 'Warning', 'pending':taskGroupType.status === 'Queued' || taskGroupType.status === 'Processing','fail':taskGroupType.status === 'Failed'}">{{taskGroupType.status}}</span></span>
    </div>
    <div [id]="'task-group-panel-' + groupTypeId" class="panel-body" [isAnimated]="false" [collapse]="!showProcess">

      <div class="task-container" *ngFor="let task of taskGroupType.tasks; let idx=index">
        <div *ngIf="task.status !== 'Complete' && task.status !== 'Failed' && task.status !== 'Error'" >
          <ul class="list-unstyled" style="margin: 0;">
            <li>Status: <b
                [ngClass]="{'success':task.status === 'Complete', 'pending':(task.status === 'Queued' || task.status === 'Processing'),'fail':task.status === 'Failed'}">{{task.status}}</b>
            </li>
            <li>Created on: <b>{{task.createDate | idmdate}}</b></li>
            <li>Last update: <b>{{task.lastUpdateDate | idmdate}}</b></li>
            <li style="word-break: break-all;">Message: <b>{{task.message}}</b></li>
            <li *ngIf="taskCategory == 'Upload'">Sensor: <b>{{task.sensorName}}</b></li>
          </ul>
          
          <div class="row">
            <div class="col-sm-12">
              <div class="button-holder" style="margin-top: 30px;">
                <button class="btn btn-default" *ngIf="task.actions.length > 0" (click)="task.showError = !task.showError">{{task.showError ? 'Hide' : 'Show'}} Messages</button>
                <button class="btn btn-default caution" (click)="removeTask(task)">Delete Task</button>
              </div>
            </div>
          </div>          
        </div>

        <div *ngIf="task.status === 'Complete' || task.status === 'Failed' || task.status === 'Error'">
          <ul class="list-unstyled" style="margin: 0;">
            <li>Status: 
              <b [ngClass]="{'success':task.status === 'Complete','fail':task.status === 'Failed'}">
                {{task.status === 'Complete' && task.actions.length > 0 ? 'Complete With Messages' : task.status }}
              </b>
            </li>
            <li>Message: <b>{{task.message}}</b></li>
            <li>Created on: <b>{{task.createDate | idmdate}}</b></li>
            <li>Last update: <b>{{task.lastUpdateDate | idmdate}}</b></li>
            <li *ngIf="taskCategory == 'Upload'">Sensor: <b>{{task.sensorName}}</b></li>
          </ul>

          <div class="row">
            <div class="col-sm-12">
              <div class="button-holder" style="margin-top: 30px;">
                <button class="btn btn-default" *ngIf="task.actions.length > 0" (click)="task.showError = !task.showError">{{task.showError ? 'Hide' : 'Show'}} Messages</button>
                <button class="btn btn-default" *ngIf="task.odmOutput" (click)="showODMOutput = !showODMOutput">Show Detailed Log Output</button>
                <button class="btn btn-default caution" (click)="removeTask(task)">Delete Task</button>
              </div>
            </div>
          </div>

          <div *ngIf="task.odmOutput && showODMOutput" class="row">
            <div class="col-sm-12">
              <h4>Output:</h4>
              <textarea style="color:grey;width:500px;height:200px;" [innerHTML]="task.odmOutput"></textarea>
            </div>
          </div>
        </div>
        
        <div *ngIf="task.showError" class="row">
          <div class="col-sm-12">
            <h4 *ngIf="task.actions.length === 0" style="color:grey;">There are no actions for this task.</h4>
            <table *ngIf="task.actions.length > 0" class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Creation Date</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let action of task.actions; let i=index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{action.description}}</td>
                  <td>{{action.createDate | idmdate}}</td>
                  <td>{{action.lastUpdateDate | idmdate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>