<div>
  <div class="check-block form-group">
    <div (click)="toggle()" [ngClass]="{'chk-checked' : value, 'chk-disabled' : disabled}" ng-style="chkstyle" class="jcf-unselectable chk-area">
      <span></span>
    </div>

    <label *ngIf="label.length > 0" class="checkbox-label">{{label}}</label>
    <label *ngIf="localizeLabelKey.length > 0" class="checkbox-label">
      <localize key="{{localizeLabelKey}}"></localize>
    </label>
  </div>
  <!-- Force a line break somehow -->
  <div class="row">
  </div>
</div>