<div class="row-holder">
    <div class="label-holder"></div>
    <div class="holder">
    <div class="modal-body text-left">
		  <div id="map-attribute-div" class="map-view-port" style="height:300px;"></div>
    </div>
  </div>
</div>
<div class="row-holder">
    <div class="label-holder">Longitude</div>
    <div class="holder">
    <div class="modal-body text-left">
      <input name="longitude" type="number" class="form-control" [(ngModel)]="coordinate.longitude" (change)="refreshCoordinateFromInput()" required />
    </div>
  </div>
</div>
<div class="row-holder">
    <div class="label-holder">Latitude</div>
    <div class="holder">
    <div class="modal-body text-left">
      <input name="latitude" type="number" class="form-control" [(ngModel)]="coordinate.latitude" (change)="refreshCoordinateFromInput()" required />
    </div>
  </div>
</div>