<!--



-->
<div>

  <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-left:50%;"></i>

  <div class="list-group" *ngIf="groups != null">
    <div class="list-group-item" *ngFor="let group of groups"
      [ngStyle]="{'border': standaloneProduct == null ? '1px solid #ddd' : ''}">
      <div class="row" *ngIf="standaloneProduct == null">
        <div class="col-sm-4">
          <h3> {{group.productName}} </h3>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 no-edit-actions">
          <span class="action-col">
            <button *ngIf="!group.primary" type="button" class="btn btn-danger" [disabled]="processRunning"
              (click)="handleRemoveGroup(group.productName)">
              Delete Group
            </button>
          </span>
          <span class="action-col">
            <button *ngIf="!group.primary" type="button" class="btn btn-primary" [disabled]="processRunning"
              (click)="handleSetPrimary(group.productName)">
              Make Primary
            </button>
          </span>
        </div>

      </div>


      <div class="row">
        <div class="col-sm-12">

          <table style="width: 100%;">
            <thead>
              <th>Type</th>
              <th>Name</th>
              <th>Processing Software</th>
              <th>Date</th>
              <th>File Size</th>
              <th>Description</th>
              <th></th>
            </thead>
            <ng-container *ngFor="let section of sections; let i = index">
              <tr class="artifact-row">
                <td>{{section.label}}</td>
                <td>
                  <ng-container *ngIf="group[section.folder] != null">
                    <table>
                      <tr *ngFor="let artifact of group[section.folder].items">
                        <a (click)="handleDownloadFile(artifact)">{{ artifact.name }}</a>
                      </tr>
                    </table>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="group[section.folder] != null">
                    <table>
                      <tr *ngFor="let artifact of group[section.folder].items">
                        <label *ngIf="!group[section.folder].report || artifact.tool !== 'ODM'">
                          {{ artifact.tool}}
                        </label>
                        <a *ngIf="group[section.folder].report && artifact.tool === 'ODM'"
                          (click)="showODMRun(artifact)">
                          {{ artifact.tool }}
                        </a>
                      </tr>
                    </table>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="group[section.folder] != null">
                    <table>
                      <tr *ngFor="let artifact of group[section.folder].items">
                        {{ artifact.lastModified }}
                      </tr>
                    </table>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="group[section.folder] != null">
                    <table>
                      <tr *ngFor="let artifact of group[section.folder].items">
                        {{ byteCountAsHumanReadable(artifact.fileSize) }}
                      </tr>
                    </table>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="group[section.folder] != null">
                    <table>
                      <tr *ngFor="let artifact of group[section.folder].items">
                        {{ artifact.description }}
                      </tr>
                    </table>
                  </ng-container>
                </td>
                <td *ngIf="!edit" class="no-edit-actions">
                  <div dropdown [dropup]="true" class="btn-group dropup">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" dropdownToggle type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Actions
                    </button>
                    <ol *dropdownMenu class="dropdown-menu dropdown-menu-right">
                      <li *ngIf="group[section.folder] == null || group[section.folder].items.length == 0">
                        <a [ngClass]="{'disabled': processRunning}"
                          (click)="handleUpload(group.productName, section.folder)" class="dropdown-item">
                          Upload
                        </a>
                      </li>
                      <ng-container *ngIf="group[section.folder] != null">
                        <li *ngIf="group[section.folder].items.length > 0">
                          <a [ngClass]="{'disabled': processRunning}" (click)="handleRemove(group.productName, section)"
                            class="dropdown-item text-danger">
                            Remove
                          </a>
                        </li>
                        <li>
                          <artifact-upload-item [componentId]="entity.id" [productName]="group.productName"
                            [folder]="section.folder" [replaceName]="'report.pdf'" [accept]="'.pdf'"
                            [label]="group[section.folder].report ? 'Reupload report' : 'Upload report'"
                            (success)="group[section.folder].report = true"
                            (error)="error($event)">
                          </artifact-upload-item>
                        </li>
                        <li *ngIf="group[section.folder].report">
                          <a [ngClass]="{'disabled': processRunning}"
                            (click)="handleDownloadReport(group.productName, section)" class="dropdown-item">
                            Download report
                          </a>
                        </li>      
                      </ng-container>

                    </ol>
                  </div>
                </td>
                <td *ngIf="edit">
                  <boolean-field *ngIf="section.folder === 'ptcloud'" [(value)]="config.processPtcloud"
                    [label]="(group[section.folder] != null && group[section.folder].items.length > 0) ? 'Overwrite' : 'Generate'">
                  </boolean-field>
                  <boolean-field *ngIf="section.folder === 'dem'" [(value)]="config.processDem"
                    [label]="(group[section.folder] != null && group[section.folder].items.length > 0) ? 'Overwrite' : 'Generate'"></boolean-field>
                  <boolean-field *ngIf="section.folder === 'ortho'" [(value)]="config.processOrtho"
                    [label]="(group[section.folder] != null && group[section.folder].items.length > 0) ? 'Overwrite' : 'Generate'"></boolean-field>
                </td>

              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>