<!--



-->
<div class="modal-body" style="padding-bottom: 0;" [@fadeInOnEnter]>
  <div>
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong>Error</strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="entity != null">
      <div class="row">
        <div class="col-md-12">
          <h2>{{entity.name}} <span *ngIf="!entity.metadataUploaded" style="margin-left: 0;margin-bottom: 5px;"></span>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Pilot Name: </label> &nbsp; {{entity.pilotName}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Upload Date: </label> &nbsp; {{entity.dateTime | idmdate : "MMM dd, yyyy"}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Collection Date: </label> &nbsp; {{entity.collectionDate | idmdate : "MMM dd, yyyy"
          : false}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Collection End Date: </label> &nbsp; {{entity.collectionEndDate | idmdate : "MMM dd,
          yyyy" : false}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Collection Format: </label> &nbsp; {{labelForFormat(entity.format)}}
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Sensor:</label>

          <table *ngIf="entity.sensor" class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><a [routerLink]="['/site/sensor', entity.sensor.oid]" target="_blank">{{entity.sensor.name}}</a>
                </td>
              </tr>
              <tr>
                <td>Type</td>
                <td> {{entity.sensor.sensorType.name}}</td>
              </tr>
              <tr>
                <td>Model</td>
                <td>{{entity.sensor.model}}</td>
              </tr>
              <!--               <tr> -->
              <!--                 <td>Description</td> -->
              <!--                 <td>{{entity.sensor.description}}</td> -->
              <!--               </tr> -->
            </tbody>
          </table>

          <p *ngIf="!entity.sensor" style="font-style:italic;">Sensor metadata is not available for this collection.</p>
        </div>

        <div class="col-md-6">
          <label class="form-label">Platform:</label>

          <table *ngIf="entity.platform" class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><a [routerLink]="['/site/platform', entity.platform.oid]"
                    target="_blank">{{entity.platform.name}}</a></td>
              </tr>
              <tr>
                <td>Type</td>
                <td> {{entity.platform.platformType.name}}</td>
              </tr>
              <!--               <tr> -->
              <!--                 <td>Description</td> -->
              <!--                 <td>{{entity.platform.description}}</td> -->
              <!--               </tr> -->
            </tbody>
          </table>

          <p *ngIf="!entity.platform" style="font-style:italic;">Platform metadata is not available for this collection.
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <label class="form-label">UAV:</label>

          <table *ngIf="entity.uav" class="table table-bordered">
            <tbody>
              <tr>
                <td>Serial Number</td>
                <td><a [routerLink]="['/site/uav', entity.uav.oid]" target="_blank">{{entity.uav.serialNumber}}</a></td>
              </tr>
              <tr>
                <td>Type</td>
                <td> {{entity.uav.faaNumber}}</td>
              </tr>
              <!--               <tr> -->
              <!--                 <td>Description</td> -->
              <!--                 <td>{{entity.uav.description}}</td> -->
              <!--               </tr> -->
            </tbody>
          </table>

          <p *ngIf="!entity.platform" style="font-style:italic;">UAV metadata is not available for this collection.</p>

        </div>
      </div>




      <div class="row">
        <div class="col-md-12">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" *ngFor="let prev of previous">
                <span> {{prev.name}}</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <tabset class="nav-full-width">

            <tab heading="raw" (selectTab)="onSelect('image')">
              <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-left:50%;"></i>

              <div *ngIf="!entity?.format || entity.format.startsWith('STILL_')" class="image-list-container">

                <ul class="list-group list-group-horizontal flex-wrap">
                  <li
                    *ngFor="let item of page.results | paginate: { itemsPerPage: page.pageSize, currentPage: page.pageNumber, totalItems: page.count }"
                    class="list-group-item col-3">
                    <a class="d-block text-decoration-none text-reset mx-auto d-block"
                      [ngClass]="{'card-disabled' : item.exclude, 'non-clickable' : !enableSelectableImages}">
                      <i class="image-action download fa fa-download"
                        (click)="handleDownloadFile(item)"
                        title="Download image"
                        style="cursor: pointer;"></i>
                      <input type="checkbox" class="image-action exclude" *ngIf="enableSelectableImages" [checked]="item.exclude"
                        (change)="toggleExcludeImage($event, item)"
                        [title]="item.exclude ? 'Include image in processing' : 'Exclude image from processing'"
                        style="cursor: pointer;" />
                      <figure class="figure ">
                        <img class="thumb figure-img img-fluid rounded" style="max-height: 150px"
                          (click)="previewImage(item)" [ngClass]="{'img-disabled' : item.exclude}"
                          [src]="thumbnails[item.key] != null ? (thumbnails[item.key] | safeHtml) : (context + '/assets/thumbnail-default.png')"
                          title="View or download image" alt="Image">
                        <figcaption class="figure-caption">
                          {{item.name}}
                        </figcaption>
                      </figure>

                    </a>
                  </li>
                </ul>
              </div>

              <!--Video raw-->
              <div *ngIf="entity.format && entity.format.startsWith('VIDEO_') && video.src !== null">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <h3>
                      {{video.name}}
                      <a (click)="handleDownloadVideo(video.src)"><i class="fas fa-download"></i></a>
                      <a class="float-end" (click)="closeVideo()"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </h3>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <video style="width:100%" controls>
                      <source [src]="video.src" type="video/mp4" />
                      Browser not supported
                    </video>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>

              <div *ngIf="this.entity?.format && this.entity.format.startsWith('VIDEO_')" class="image-list-container">
                <ul class="list-group row">
                  <li *ngFor="let item of page.results" class="list-group-item col-xs-3">
                    <div class="thumb video" (click)="showVideo(item)">
                      <img [src]="context + '/assets/thumbnail-video.png'" alt="Video">
                      <div class="caption">
                        <h4 class="media-heading">{{item.name}}</h4>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </tab>
            <tab heading="supporting data" (selectTab)="onSelect('data')">
              <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-left:50%;"></i>

              <table style="width: 100%;">
                <thead>
                  <th>Name</th>
                  <th></th>
                </thead>
                <tr *ngFor="let item of page.results">
                  <td>{{item.name}}</td>
                  <td style="text-align:right;">
                    <artifact-upload *ngIf="item.name == 'geo.txt'" [componentId]="entity.id" [folder]="'raw'"
                      [replaceName]="'geo.txt'" [label]="'Reupload'">
                    </artifact-upload>
                    <button type="button" class="btn btn-primary" (click)="handleDownloadFile(item)"
                      style="margin: 5px 0;">
                      Download
                    </button>
                  </td>

                </tr>


              </table>
            </tab>
            <!--Legacy collection (before 'format' attribute existed)-->
            <tab *ngIf="!entity.format" heading="video" (selectTab)="onSelect('video')">
              <i *ngIf="loading" class="fa fa-spinner fa-spin" style="margin-left:50%;"></i>

              <div *ngIf="video.src !== null">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <h3>
                      {{video.name}}
                      <a (click)="handleDownloadVideo(video.src)"><i class="fas fa-download"></i></a>
                      <a class="float-end" (click)="closeVideo()"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </h3>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <video style="width:100%" controls>
                      <source [src]="video.src" type="video/mp4" />
                      Browser not supported
                    </video>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>

              <div class="image-list-container">
                <ul class="list-group row">
                  <li *ngFor="let item of page.results" class="list-group-item col-xs-3">
                    <div class="thumb video" (click)="showVideo(item)">
                      <img [src]="context + '/assets/thumbnail-video.png'" alt="Video">
                      <div class="caption">
                        <h4 class="media-heading">{{item.name}}</h4>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </tab>
            <!--End legacy support-->
            <tab heading="products" style="margin-top:10px;" (selectTab)="onSelect('artifacts')">
              <artifact-page *ngIf="tabName === 'artifacts'" [entity]="entity" [processRunning]="processRunning"
                (onError)="error($event)"></artifact-page>
            </tab>
          </tabset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <pagination-controls *ngIf="tabName === 'image'" (pageChange)="onPageChange($event)"></pagination-controls>

          <div *ngIf="showOrthoRerunMessage" style="text-align:right;padding-right:20px;">
            <p>{{statusMessage}}</p>
            <p>See this process on
              <a (click)="bsModalRef.hide()" routerLink="/site/tasks">your tasks page</a>
            </p>
          </div>

          <div class="btn-holder" style="margin: 20px 0px 10px 0px;">

            <div class="d-flex flex-row">
              <div>
                <button type="button" class="btn btn-warning" [disabled]="processRunning" (click)="editMetadata()">
                  <i class="fa fa-edit" style="color:white"></i>
                  Edit Metadata
                </button>
                <button *ngIf="entity.isOwner && entity.isPrivate" type="button" style="margin-left: 5px;"
                  class="btn btn-warning" (click)="handleAccessManagement()">
                  Access Management
                </button>
                <button *ngIf="tabName === 'image'" type="button" class="btn btn-primary" [disabled]="processRunning"
                  (click)="handleUpload()">
                  Upload
                </button>

              </div>
              <div class="flex-fill"></div>
              <div>
                <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>

                <button *ngIf="tabName === 'artifacts'" type="button" class="btn btn-secondary"
                  title="Create product group" [disabled]="processRunning" (click)="handleCreateProductGroup()"
                  style="margin-left: 5px;">
                  Create product group
                </button>

                <button *ngIf="processable" type="button" class="btn btn-secondary" title="Downloads all files"
                  [disabled]="processRunning" (click)="handleDownload()" style="margin-left: 5px;">
                  Download All
                </button>

                <button *ngIf="processable && entity.hasAllZip" type="button" class="btn btn-secondary"
                  [disabled]="processRunning" (click)="handleDownloadOdmAll()"
                  title="Downloads the all.zip file generated from ODM." style="margin-left: 5px;">
                  Download All Generated Data
                </button>
                <button *ngIf="processable && enableSelectableImages"
                  [disabled]="processRunning || !canReprocessImagery" (click)="handleRunOrtho()" class="btn btn-primary"
                  title="Reprocesses the selected raw and generates new products." style="margin-left: 5px;">
                  Process
                  <i class="fa fa-sync-alt" [ngClass]="{'fa-spin' : processRunning}" aria-hidden="true"
                    style="color:white;vertical-align: middle;margin-left: 10px;"></i>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>