.thumb{
  position:relative;
  padding:.25rem;
  background:#fff;
  border:1px solid #dee2e6;
  border-radius:.25rem;
  transition:border-color .2s, box-shadow .2s, transform .08s;
}
.thumb.video {
  max-width:150px;
}
.thumb > img{ display:block; width:100%; height:auto; border-radius:.25rem; }
.thumb:hover,
.thumb:focus{
  border-color:#007276;
  box-shadow:0 0 0 .2rem rgba(0, 114, 118, 0.15);
  transform:translateY(-1px);
  outline:0;
}
/* keep caption subtle */
.thumb .caption{ margin-top:.25rem; font-size:.875rem; color:#6c757d; }


// ------ Custom X checkbox

.image-action {
  -webkit-appearance: initial;
  appearance: initial;
  background: white;
  width: 20px;
  height: 20px;
  border: solid 1px lightgrey;
  position: absolute;
  border-radius: 0;
  margin: 5px; 
  z-index: 9;
}

.image-action.exclude {
  top: 8px;
}

.image-action.exclude:hover {
  border-color: #007276;
}

.image-action.download {
  line-height:1;
  font-size: 0.9rem;
  padding-left: 2px;
  padding-top: 2px;
  right: 16px;
}

.image-action:checked {
  // background: red;
}

.image-action:checked:after {
  content: "x";
  color: #242424;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// ------ End Custom X checkbox
