<!--



-->
<div>
  <div class="modal-body" tabindex="-1" role="dialog">


    <div *ngIf="message != null && message.length > 0" class="row error-container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="label-holder">
          <strong style="color:#8c0000;">Error</strong>
        </div>
        <div class="holder">
          <div>
            <p class="error-message">{{message}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" *ngIf="labels.length > 0">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ul class="breadcrumb">
          <li [@fadeInOnEnter] *ngFor="let label of labels">
            <span> {{label}}</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Section for each page -->
    <div class="row" *ngIf="page.type === 'CATEGORY'">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="form-group">
          <label [for]="page.selection.type">{{page.selection.type}}:</label>

          <div *ngIf="!page.selection.isNew" class="row">
            <div class="col-md-8">
              <select [name]="page.selection.type" [(ngModel)]="page.selection.value" [disabled]="page.selection.isNew"
                required>
                <option></option>
                <option *ngFor="let option of page.options" [value]="option.id">{{option.name}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <button *ngIf="!page.selection.isNew" type="button btn btn-primary" class="btn btn-primary"
                (click)="setIsNew(true)">
                Add
              </button>
            </div>
          </div>
        </div>
        <div [@fadeInOnEnter] *ngIf="page.selection.isNew" class="form-group">
          <div class="row">
            <div class="col-md-8">
              <input autofocus [(ngModel)]="page.selection.label" name="label" type="input" class="form-control"
                [placeholder]="page.selection.type + ' name...'" required />
            </div>
            <div class="col-md-2">
              <button *ngIf="!hasField('collectionDate')" type="button btn btn-primary" class="btn btn-primary"
                (click)="setIsNew(false)">
                Cancel
              </button>
            </div>
          </div>
          <div [@fadeInOnEnter] class="row" *ngIf="hasField('collectionDate')">
            <div class="col-md-8">
              <label for="platform" style="margin-top: 10px;">Collection Date:</label>
              <input [(ngModel)]="page.selection.collectionDate" name="collectionDate" type="date" class="form-control"
                required />
            </div>
          </div>

          <div [@fadeInOnEnter] class="row" *ngIf="hasField('shortName')">
            <div class="col-md-8">
              <label for="shortName" style="margin-top: 10px;">Short Name:</label>
              <input [(ngModel)]="page.selection.shortName" name="shortName" type="text" class="form-control"
                maxlength="8" required />
            </div>
          </div>
          <div [@fadeInOnEnter] class="row" *ngIf="hasField('restricted')">
            <div class="col-md-8">
              <boolean-field [(value)]="page.selection.restricted" label="Restricted">
              </boolean-field>
            </div>
          </div>
          <div [@fadeInOnEnter] class="row" *ngIf="hasField('sunsetDate')">
            <div class="col-md-8">
              <label for="sunsetDate" style="margin-top: 10px;">Sunset Date:</label>
              <input [(ngModel)]="page.selection.sunsetDate" name="sunsetDate" type="date" class="form-control" />
            </div>
          </div>

          <div [@fadeInOnEnter] class="row" *ngIf="hasField('contractingOffice')">
            <div class="col-md-8">
              <label for="contractingOffice" style="margin-top: 10px;">Contracting Office:</label>
              <input [(ngModel)]="page.selection.contractingOffice" name="contractingOffice" type="text"
                class="form-control" maxlength="50" />
            </div>
          </div>
          <div [@fadeInOnEnter] class="row" *ngIf="hasField('vendor')">
            <div class="col-md-8">
              <label for="vendor" style="margin-top: 10px;">Vendor:</label>
              <input [(ngModel)]="page.selection.vendor" name="vendor" type="text" class="form-control"
                maxlength="50" />
            </div>
          </div>

          <metadata-page *ngIf="hasField('uav')" [(page)]="page"></metadata-page>
        </div>
      </div>
    </div>

    <!-- Summary page -->
    <div [@fadeInOnEnter] class="row" *ngIf="page.type === 'SUMMARY'">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div *ngFor="let selection of selections" class="form-group">
          <label [for]="selection.type">{{selection.type}}:</label>
          <input [(ngModel)]="selection.label" [name]="selection.type" type="input" class="form-control" disabled
            required />
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">

    <div class="row">
      <div class="col-md-12">
        <div class="btn-holder" style="text-align: right;">
          <button type="button" [disabled]="disabled" (click)="close()" [disabled]="disabled" class="btn btn-default"
            role="button" aria-disabled="false" style="padding: 4px 18px;">
            <span class="ui-button-text">Close</span>
          </button>

          <button *ngIf="page.index > 0" type="button btn btn-primary" [disabled]="disabled" class="btn btn-secondary"
            (click)="handleBackPage()">
            <i class="icon-upload icon-white"></i>
            Back
          </button>

          <button *ngIf="page.index < (pages.length - 1)" type="button btn btn-primary"
            [disabled]="!isPageValid(page) || disabled" class="btn btn-primary" (click)="handleNextPage()">
            <i class="icon-upload icon-white"></i>
            Next
          </button>

          <button *ngIf="page.index === (pages.length - 1)" type="button btn btn-primary"
            [disabled]="!isPageValid(page) || disabled" class="btn btn-primary" (click)="handleCreate()">
            <i class="icon-upload icon-white"></i>
            Create
          </button>
        </div>
      </div>
    </div>
  </div>

</div>