<div class="modal-body">
    <div *ngIf="message != null" class="error-container">
        <div class="label-holder">
            <strong>Error</strong>
        </div>
        <div class="holder">
            <div>
                <p class="error-message">{{message}}</p>
            </div>
        </div>
    </div>

    <div class="image-preview-container">
        <i class="fa fa-times btn btn-close" style="min-width:0;" (click)="bsModalRef.hide()"></i>
        <div class="image-container">
            <p *ngIf="loading" style="text-align: left;">Loading image...</p>
            <img *ngIf="!loading" class="image-preview img-responsive center-block" [src]="imageToShow | safeHtml" alt="Image">
        </div>
    </div>

    <!-- <form #ngForm="ngForm">
    <div class="btn-holder" style="text-align: right;">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </form> -->
</div>
