<!--



-->
<div>
  <div class="modal-body" tabindex="-1" role="dialog">

    <div *ngIf="message != null && message.length > 0" class="row error-container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="label-holder">
          <strong style="color:#8c0000;">Error</strong>
        </div>
        <div class="holder">
          <div>
            <p class="error-message">{{message}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <div *ngIf="config" class="panel panel-default">
    	<div class="panel-heading">
    		Basic Information
    	</div>
	    <div class="panel-body" style="padding:10px;">
	    	<div class="form-group">
		    	<label>
		    		Start Time
		    	</label>
			    <div>
			      {{ formatDate(odmRun.runStart) }}
			    </div>
		    </div>
		    
		    <div *ngIf="odmRun.runEnd" class="form-group">
			    <label>
		    		End Time
		    	</label>
			    <div>
			      {{ formatDate(odmRun.runEnd) }}
			    </div>
		    </div>
		    
		    <div *ngIf="odmRun.runEnd" class="form-group">
			    <label>
		    		Total Runtime
		    	</label>
			    <div>
			      {{ getRuntime() }}
			    </div>
		    </div>
	    </div>
	</div>
    
    <div *ngIf="config" class="panel panel-default">
    	<div class="panel-heading">
    		Configuration
    	</div>
	    <div class="panel-body" style="padding:10px;">
	        <div class="form-group">
	            <label for="outFileNamePrefix">Output Product Name Prefix</label>
	            <input [(ngModel)]="config.outFileNamePrefix" name="outFileNamePrefix" type="input" class="form-control"
	                placeholder="Output product name prefix..." disabled />
	        </div>
	
	        <div class="form-group">
	            <label for="resolution">Orthophoto and DEM Resolution (cm)</label>
	            <input [(ngModel)]="config.resolution" name="resolution" type="number" class="form-control" placeholder="5"
	                step="1" min="0" disabled />
	        </div>
	
	        <div class="form-group">
	            <label for="matcherNeighbors">Matcher Nieghbors</label>
	            <input [(ngModel)]="config.matcherNeighbors" name="matcherNeighbors" type="number" class="form-control"
	                placeholder="0" step="1" min="0" disabled />
	        </div>
	
	        <div class="form-group">
	            <label for="minNumFeatures">Minimum number of features to extract per image</label>
	            <input [(ngModel)]="config.minNumFeatures" name="minNumFeatures" type="number" class="form-control"
	                placeholder="10000" step="1" min="0" disabled />
	        </div>
	
	        <div class="form-group">
	            <label for="pcQuality">Generated point cloud quality</label>
	            <select [(ngModel)]="config.pcQuality" name="pcQuality" class="form-control" disabled>
	                <option value="ULTRA">ULTRA</option>
	                <option value="HIGH">HIGH</option>
	                <option value="MEDIUM">MEDIUM</option>
	                <option value="LOW">LOW</option>
	                <option value="LOWEST">LOWEST</option>
	            </select>
	        </div>
	        
	        <div class="form-group">
	            <label for="featureQuality">Generated feature quality</label>
	            <select [(ngModel)]="config.featureQuality" name="featureQuality" class="form-control" disabled>
	                <option value="ULTRA">ULTRA</option>
	                <option value="HIGH">HIGH</option>
	                <option value="MEDIUM">MEDIUM</option>
	                <option value="LOW">LOW</option>
	                <option value="LOWEST">LOWEST</option>
	            </select>
	        </div>
	        
	        <div class="form-group">
	            <label for="radiometricCalibration">Radiometric Calibration</label>
	            <select [(ngModel)]="config.radiometricCalibration" name="radiometricCalibration" class="form-control" disabled>
	                <option value="NONE">NONE</option>
	                <option value="CAMERA">CAMERA</option>
	                <option value="CAMERA_SUN">CAMERA+SUN</option>
	            </select>
	        </div>
	
	        <div class="form-group">
	            <boolean-field [(value)]="config.includeGeoLocationFile"
	                label="Use geo location file when processing (if uploaded)" [disabled]="true"></boolean-field>
	        </div>

	        <div class="form-group" *ngIf="config.includeGeoLocationFile">
	            <label for="geoLocationFormat">Geo location file format</label>
	            <select [(ngModel)]="config.geoLocationFormat" name="geoLocationFormat" [disabled]="true" class="form-control">
	                <option value="RX1R2">RX1R2</option>
	                <option value="ODM">ODM</option>
	            </select>
	        </div>

			<div class="form-group" *ngIf="config.includeGeoLocationFile">
				<label for="geoLocationFileName">Geo location file name</label>
				<input [(ngModel)]="config.geoLocationFileName" [disabled]="true" name="geoLocationFileName" type="input" class="form-control"
					placeholder="File name..." />
			</div>

			<div class="form-group">
	            <boolean-field [(value)]="config.includeGroundControlPointFile"
	                label="Use ground control point file when processing (if uploaded)" [disabled]="true"></boolean-field>
	        </div>

			<div class="form-group" *ngIf="config.includeGroundControlPointFile">
				<label for="groundControlPointFileName">Ground control point file name</label>
				<input [(ngModel)]="config.groundControlPointFileName" [disabled]="true" name="groundControlPointFileName" type="input" class="form-control"
					placeholder="File name..." />
			</div>


	    </div>
	</div>
	
	<div *ngIf="odmRun && odmRun.output" class="panel panel-default">
    	<div class="panel-heading">
    		Output
    	</div>
	    <div class="panel-body">
	      <textarea style="color: grey; width: 100%; height: 500px;" [innerHTML]="odmRun.output"></textarea>
	    </div>
	</div>
    
    <div class="modal-footer">

        <div class="row">
            <div class="col-md-12">
                <div class="btn-holder" style="text-align: right;">
                    <button type="button" (click)="close()"
                        class="btn btn-default" role="button" aria-disabled="false" style="padding: 4px 18px;">
                        <span class="ui-button-text">Close</span>
                    </button>
                    <button *ngIf="odmRun && odmRun.report" type="button" (click)="downloadReport()"
                        class="btn btn-default" role="button" aria-disabled="false" style="padding: 4px 18px;">
                        <span class="ui-button-text">Download Quality Report</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>