<!--



-->
<div *ngIf="!showSite" class="modal-body" style="padding-bottom: 0;">
  <div>
    <div *ngIf="message != null" class="error-container">
      <div class="label-holder">
        <strong>Error</strong>
      </div>
      <div class="holder">
        <div>
          <p class="error-message">{{message}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="product != null">
      <div class="row">
        <div class="col-md-12">
          <h2>{{product.name}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb" style="margin-bottom: 10px;">
            <li *ngFor="let entity of product.entities">
              <span> {{entity.name}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="" *ngIf="thumbnails[product.id] != null">
            <a class="thumbnail non-clickable">
              <img class="" [src]="thumbnails[product.id] | safeHtml" (error)="getDefaultImgURL($event)" alt="Image">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Pilot Name: </label> &nbsp; {{product.pilotName}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Creation Date: </label> &nbsp; {{product.dateTime | idmdate : "MMM dd, yyyy"}}
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <label>Collection Date: </label> &nbsp; {{product.collectionDate | idmdate : "MMM dd, yyyy"}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Collection End Date: </label> &nbsp; {{product.collectionEndDate | idmdate : "MMM dd, yyyy"}}
        </div>
      </div>


      
      <div class="row">
        <div class="col-md-6">
          <label>Sensor:</label>
          
          <table *ngIf="product.sensor" class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><a [routerLink]="['/site/sensor', product.sensor.oid]" target="_blank">{{product.sensor.name}}</a></td>
              </tr>
              <tr>
                <td>Type</td>
                <td> {{product.sensor.sensorType.name}}</td>
              </tr>
              <tr>
                <td>Model</td>
                <td>{{product.sensor.model}}</td>
              </tr>
<!--               <tr> -->
<!--                 <td>Description</td> -->
<!--                 <td>{{product.sensor.description}}</td> -->
<!--               </tr> -->
            </tbody>
          </table>
          
          <p *ngIf="!product.sensor" style="font-style:italic;">Sensor metadata is not available for this collection.</p>
        </div>
        
        <div class="col-md-6">
          <label>Platform:</label>
          
          <table *ngIf="product.platform" class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><a [routerLink]="['/site/platform', product.platform.oid]" target="_blank">{{product.platform.name}}</a></td>
              </tr>
              <tr>
                <td>Type</td>
                <td> {{product.platform.platformType.name}}</td>
              </tr>
<!--               <tr> -->
<!--                 <td>Description</td> -->
<!--                 <td>{{product.platform.description}}</td> -->
<!--               </tr> -->
            </tbody>
          </table>
          
          <p *ngIf="!product.platform" style="font-style:italic;">Platform metadata is not available for this collection.</p>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-12">
          <label>UAV:</label>
          
          <table *ngIf="product.uav" class="table table-bordered">
            <tbody>
              <tr>
                <td>Serial Number</td>
                <td><a [routerLink]="['/site/uav', product.uav.oid]" target="_blank">{{product.uav.serialNumber}}</a></td>
              </tr>
              <tr>
                <td>FAA Number</td>
                <td> {{product.uav.faaNumber}}</td>
              </tr>
<!--               <tr> -->
<!--                 <td>Description</td> -->
<!--                 <td>{{product.uav.description}}</td> -->
<!--               </tr> -->
            </tbody>
          </table>
          
          <p *ngIf="!product.platform" style="font-style:italic;">UAV metadata is not available for this collection.</p>
          
        </div>
      </div>
      

      <!-- <div class="row">
      <div class="col-md-12">
        <label>Raw Images</label> 
      </div>
    </div> -->
      <div class="row" style="background-color: #ececec;">
        <div class="col-md-12">
          <div id="image-list-container">
            <h3>Raw Images</h3>
            <ul class="list-group row">
              <li *ngFor="let item of product.page.resultSet | paginate: { itemsPerPage: product.page.pageSize, currentPage: product.page.pageNumber, totalItems: product.page.count }" class="list-group-item col-xs-3" style="background:none;">
                <div class="" *ngIf="thumbnails[item.id] != null">
                  <a class="thumbnail" (click)="previewImage(item)">
                    <img [src]="thumbnails[item.id] | safeHtml" (error)="getDefaultImgURL($event)" alt="Image">
                    <div class="caption">
                      <h4 class="media-heading">{{item.name}}</h4>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
      </div>


      <div class="row" style="background-color: #ececec;">
        <div class="btn-holder" style="text-align: right;margin:20px 20px 20px 20px;">
          <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
          <button *ngIf="product.hasAllZip" type="button" class="btn btn-secondary" style="margin-left: 5px;" (click)="handleDownload()">Download ODM Files</button>
          <button (click)="handleGoto()" class="btn btn-primary" style="margin-left: 5px;">
            Collection Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<collection-modal *ngIf="showSite" [initData]="initData"></collection-modal>
