<form #myForm="ngForm">
  <div class="modal-body" tabindex="-1" role="dialog">
    <div *ngIf="message != null && message.length > 0" class="row error-container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="label-holder">
          <strong style="color:#8c0000;">Error</strong>
        </div>
        <div class="holder">
          <div>
            <p class="error-message">{{message}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>



    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div *ngIf="existingTask">
          <div class="card border border-warning" style="margin: 30px 0 30px 0;">
            <div class="card-header bg-warning" style="font-size: 20px;">Partial Upload Detected</div>
            <div class="card-body">
              <h4>A partial upload was detected for file <b>{{existingTask.filename}}</b>. You can either cancel that
                partial upload or attempt to continue.</h4>
              <h4>
                <b>To continue an upload</b>
                please re-upload your file and we will try our best to continue where you left off.
              </h4>

            </div>
          </div>
        </div> <!-- End existing task panel -->


        <div *ngIf="!existingTask">

          <div class="well">
            <h4>All uploaded files</h4>
            <ul>
              <li *ngIf="uploadTarget === 'raw'">Must be compressed into a .zip or .tar.gz format.</li>
              <li *ngIf="uploadTarget !== 'raw'">Can optionally be compressed into a .zip or .tar.gz format.</li>
              <li>Containing spaces or special characters such as &lt;, &gt;, -, +, =, !, &#64;, #, $, %, ^, &amp;, *,
                ?,/, \ or apostrophes are allowed or
                apostrophes will be replaced with underscores</li>
            </ul>

            <h4>
              Supported File Formats
            </h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Formats</th>
                </tr>
              </thead>
              <tbody *ngIf="uploadTarget === 'raw'">
                <ng-container *ngIf="!component.isLidar">
                  <tr>
                    <td>RGB Image Data</td>
                    <td>jpg, jpeg, png</td>
                  </tr>
                  <tr>
                    <td>Multispectral Image Data</td>
                    <td>tif</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="component.isLidar">
                  <tr>
                    <td>Pointcloud</td>
                    <td>laz, las</td>
                  </tr>
                </ng-container>
                <tr>
                  <td>Video</td>
                  <td>mp4</td>
                </tr>
              </tbody>
              <tbody *ngIf="uploadTarget === 'ptcloud'">
                <tr>
                  <td>Pointcloud</td>
                  <td>laz, las</td>
                </tr>
              </tbody>
              <tbody *ngIf="uploadTarget === 'dem'">
                <tr>
                  <td>Digital Elevation Model (DEM)</td>
                  <td>tif</td>
                </tr>
              </tbody>
              <tbody *ngIf="uploadTarget === 'ortho'">
                <tr>
                  <td>Orthomosaic</td>
                  <td>tif, png</td>
                </tr>
              </tbody>
              <tbody *ngIf="uploadTarget === 'video'">
                <tr>
                  <td>Video</td>
                  <td>mp4</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div>

          <div *ngIf="progress" class="card border border-warning" style="margin: 30px 0 30px 0;">
            <div class="card-header bg-warning" style="font-size: 20px;">Upload Details</div>
            <div class="card-body">
              <h4>
                Progress:
                <b> {{ progress.percentage | number: '1.0-0' }}% </b>
              </h4>
            </div>
          </div>

          <div *ngIf="isSuccessful" class="card border border-success" style="margin: 30px 0 30px 0;">
            <div class="card-header bg-success text-white mb-3" style="font-size: 20px;">
              Upload Details
            </div>
            <div class="card-body">
              <h4>
                Status:
                <b> Upload successfully completed </b>
              </h4>
            </div>
          </div> <!-- End task finished upload notification -->

          <div class="mb-3">
            <label for="formFile" class="form-label">Upload File</label>
            <input [disabled]="isUploading" type="file" class="form-control" id="formFile"
              (change)="onFileSelected($event)" [attr.accept]="extensions" [attr.aria-label]="'Choose file to upload'">
            <div *ngIf="existingTask && invalidFile" class="alert">
              Must upload the file: {{existingTask.filename}}
            </div>
          </div>



        </div> <!-- End current upload indicator -->
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="modal-footer">

    <div class="row">
      <div class="col-md-12">
        <div class="btn-holder" style="text-align: right;">
          <button *ngIf="existingTask" type="button" [disabled]="isUploading" class="btn btn-danger"
            (click)="removeUpload()">
            <i class="icon-upload icon-white"></i>
            Cancel Upload
          </button>

          <button type="button" (click)="close()" [disabled]="isUploading" class="btn btn-default" role="button"
            aria-disabled="false">
            <span class="ui-button-text">Close</span>
          </button>

          <button type="button btn btn-primary" [disabled]="myForm.invalid || !selectedFile || isUploading"
            class="btn btn-primary" (click)="handleUpload()">
            <i class="icon-upload icon-white"></i>
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>

</form>