<uasdm-header></uasdm-header>

<div id="app-container" class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
      
        <h2>File Search</h2>
        <div class="input-group">
          <input class="form-control" type="text" (keyup)="searchTerm$.next($event.target.value)">
          <div class="input-group-btn">
            <button class="btn btn-primary" style="padding:6px;" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
  
        <ul class="list-group" *ngIf="results">
          <li class="list-group-item" *ngFor="let result of results | slice:0:9">
            <a href="{{ result.latest }}" target="_blank">
              {{ result.filename }}
            </a>
            
             <div class="pull-right">
               <ol class="breadcrumb">
                 <li *ngFor="let site of result.hierarchy" class="breadcrumb-item active" aria-current="page">
                   {{site.label}}
                 </li>
               </ol>             
             </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-3"></div> 
    </div>
</div>

