<uasdm-header></uasdm-header>

<div id="app-container" class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
      
        <h2>File Search</h2>
        <div class="input-group">
          <input class="form-control" type="text" (keyup)="searchTerm$.next($event.target.value)">
          <div class="input-group-btn">
            <button class="btn btn-primary" style="padding:6px;" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
  
        <div class="list-group" *ngIf="results">
          <div class="list-group-item" *ngFor="let result of results | slice:0:9">
            <span *ngIf="result.filename == null"><i class="fa fa-folder-open"></i></span>
            <span *ngIf="result.filename != null"><i class="fa fa-file"></i></span>
          
            <a href="{{ result.latest }}" target="_blank">
              {{ result.filename || result.hierarchy[result.hierarchy.length -1].label}}
            </a>
            
             <div class="pull-right">
                 <span *ngFor="let site of result.hierarchy; index as i">
                   {{site.label}}
                   
                   <span *ngIf="i < (result.hierarchy.length -1)">
                    /
                   </span>
                   
                   
                 </span>
             </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div> 
    </div>
</div>

