<uasdm-header [title]="'Data Upload'"></uasdm-header>

<div id="app-container" class="container">
  <div *ngIf="sites.length > 0" class="row">
    <div class="col">
      <div class="form-group">
        <label for="site">Site:</label>
        <select name="site" (change)="onSiteSelect($event.target.value)">
          <option></option>
          <option *ngFor="let site of sites" [value]="site.id">{{site.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="project">Project:</label>
        <select name="project" [attr.disabled]="values.site == null ? '' : null" (change)="onProjectSelect($event.target.value)">
          <option></option>
          <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mission">Mission:</label>
        <select name="mission" [attr.disabled]="values.project == null ? '' : null" (change)="onMissionSelect($event.target.value)">
          <option></option>
          <option *ngFor="let mission of missions" [value]="mission.id">{{mission.name}}</option>
        </select>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="radioopt" [(ngModel)]="values.create" [value]="true" (change)="handleChange()" [checked]="values.create==true" />
          Create new collection
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="radioopt" value="false" [(ngModel)]="values.create" (change)="handleChange()" [value]="false" [checked]="values.create==false" />
          Add to existing collection
        </label>
      </div>
      <div class="form-group" *ngIf="values.create === true">
        <label for="nameInput">Name</label>
        <input [(ngModel)]="values.name" name="name" type="input" class="form-control" id="nameInput" placeholder="Name" required>
      </div>
      <div class="form-group" *ngIf="values.create === false">
        <label for="collection">Collection:</label>
        <select name="collection" [attr.disabled]="values.mission == null ? '' : null" (change)="onCollectionSelect($event.target.value)">
          <option></option>
          <option *ngFor="let collection of collections" [value]="collection.id">{{collection.name}}</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div #uploader></div>
      <button type="button" [ngClass]="{disabled : (values.collection == null && values.name == null || disabled)}" class="btn btn-primary" (click)="handleUpload($event)">
        <i class="icon-upload icon-white"></i> Upload
      </button>
    </div>
  </div>
</div>