<uasdm-header></uasdm-header>

<div id="app-container" class="container">
    <div class="row">
      <div class="col-sm-10"><h1>{{userName}}</h1></div>
<!--       <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div> -->
    </div>
    <div class="row">
      <div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
<!--         <h6>Upload a different photo...</h6> -->
<!--         <input type="file" class="text-center center-block file-upload"> -->
      </div><br>

               
<!--           <div class="panel panel-default"> -->
<!--             <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div> -->
<!--             <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div> -->
<!--           </div> -->
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Total Tasks</strong></span> {{totalTaskCount}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Total Actions</strong></span> {{totalActionsCount}}</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Resources</div>
            <div class="panel-body">
              <i class="fa fa-link" style="font-size: 20px;">&#32; Help Docs</i>
            </div>
          </div>
          
        </div><!--/col-3-->
      <div class="col-sm-9">
         <ul class="nav nav-tabs">
<!--             <li class="active"><a data-toggle="tab" href="#overview">Home</a></li> -->
            <li class="active"><a data-toggle="tab" href="#tasks">Tasks</a></li>
          </ul>
              
          <div class="tab-content">
<!--               <div class="tab-pane active" id="overview"> -->
<!--                 <h2>Your Overview</h2> -->
<!--                 <hr> -->
<!--               </div> -->
              <div class="tab-pane active" id="tasks">
                
                <h2>Your Tasks</h2>
                
                <hr>
                <a href="#" *ngFor="let message of messages">
                  <alert type="danger" (click)="handleMessage(message)" >
                    {{message.message}}
                  </alert>
                </a>
                                
                <div class="panel-group">
                  <div *ngFor="let task of tasks; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{i}}">
                        <ul class="list-inline" style="margin: 0;">
                          <li>{{task.label}}</li>
                          <li *ngIf="task.status !== 'Complete'" class="pull-right" style="color:green;"><b>{{task.status}}...</b></li>
                        </ul>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse{{i}}" class="panel-collapse collapse">
                      <div *ngIf="task.status !== 'Complete'" class="panel-body">
                        <h3>{{task.message}}</h3>
                      </div>
                      <div *ngIf="task.status === 'Complete'" class="panel-body">
                        <ul class="list-unstyled" style="margin: 0;">
                          <li>Created on: <b>{{task.createDate}}</b></li>
                          <li>Last update: <b>{{task.lastUpdatedDate}}</b></li> 
                          <li>Status: <b>{{task.status}}</b></li>
                          <li>Message: <b>{{task.message}}</b></li>
                        </ul>
                        
                        <hr>
                        
                        <h4>Actions:</h4>
                        <h4 *ngIf="task.actions.length === 0" style="color:grey;">There are no actions for this task.</h4>
                        <table *ngIf="task.actions.length > 0" class="table table-bordered"> 
                          <thead> 
                            <tr> 
                              <th>#</th> 
                              <th>Type</th> 
                              <th>Description</th> 
                              <th>Creation Date</th> 
                              <th>Last Updated</th> 
                            </tr> 
                          </thead> 
                          <tbody> 
                            <tr *ngFor="let action of task.actions; let i=index" [ngClass]="{'danger':action.type === 'error'}">
                              <th scope="row">{{i + 1}}</th> 
                              <td>{{action.type}}</td> 
                              <td>{{action.description}}</td> 
                              <td>{{action.createDate}}</td> 
                              <td>{{action.lastUpdatedDate}}</td> 
                            </tr> 
                          </tbody> 
                        </table>
                      </div><!-- /panel-body -->
                    </div>
                  </div>
                </div>
              </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
</div>

