<!--



-->
<div>
    <uasdm-header></uasdm-header>

    <div id="app-container" class="container">

        <h2 class="settings-header">
            System Information
        </h2>

        <h3 class="settings-subheader">Software Versions</h3>
        <ul>
            <li>IDM Platform Version: <span id="automated-version-replace">1.5.3</span></li>
            <li>Open Drone Map (ODM): 3.5.0</li>
        </ul>
        
        <h3 class="settings-subheader">
            Release Notes
        </h3>
        
        <ul>
            <li><a href="https://github.com/terraframe/osmre-uav/blob/master/CHANGELOG.md" target="_blank">View Release Notes (on Github)</a></li>
        </ul>
        
    </div>
</div>
