<!--



-->
<div>
  <uasdm-header></uasdm-header>

  <div id="app-container" class="container">

    <h2>System Configuration</h2>
    
    <accounts *ngIf="!requireKeycloakLogin"></accounts>

    <system-logos></system-logos>

    <h3>System Email</h3>
    <button (click)="open()" class="btn btn-primary" style="margin:0;">Configure Email</button>
    <br><br>
    
    <h3>Session Event Log</h3>
    <session-events></session-events>
    
    <organization-sync-table></organization-sync-table>

    <labeled-property-graph-sync-table></labeled-property-graph-sync-table>
    
    <br/>

  </div>
</div>